<div *ngIf="actes.length > 0; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    {{ actes.length }} plan(s) de gestions<br>
    <ul>
        <li *ngFor="let acte of actes">
          Type : {{ acte.typ_mfu }}<br>
          Année début : {{ acte.debut }}<br>
          Année fin : {{ acte.fin }}<br>
          Tacite.r : {{ acte.tacit_rec }}<br>
          Surface totale : {{ acte.surf_totale }} ha<br>
          Nb. parcelles : {{ acte.nb_parcelles }}<br>
          Type prop. : {{ acte.type_prop }}<br>

          Lien du document : <a [href]="acte.url" target="_blank">Télécharger</a>
        </li>
      </ul>
</ng-template>

<ng-template #elseBlock>
    Il n'y a pas d'acte MFU sur ce site.
</ng-template>


<!-- <div *ngIf="Mfus !== undefined">
    <table>
        <tr>
            <td colspan="2">
                Actes du site :
            </td>
        </tr>

        <tr>
            <section>---Tableau à venir---</section>
        </tr>

        <tr>
            <td colspan="2">
                --
            </td>
        </tr>

        <tr>
            <td colspan="2">
                Actes obsolètes :
            </td>
        </tr>
      </table>
</div> -->

