<div class="edition">
  Ajouter un nouvel acte MFU :
  <button mat-icon-button matTooltip="Ajouter un acte MFU" class="btn-edition" (click)="onSelect(undefined, $event)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<!-- Filtres avec ngModel et mat-radio-group -->
<div class="radio-buttons">
  <mat-radio-group [(ngModel)]="filterValidite" (change)="applicationFiltre()">
    <!-- Par défaut ,mettre le bouton tous les actes -->
    <mat-radio-button value="tous" [checked]="true">Tous les actes ({{ActesTotal}})</mat-radio-button>
    <mat-radio-button value="valide">Actes valides ({{ActesValides}})</mat-radio-button>
    <mat-radio-button value="invalide">Actes invalides ({{ActesInvalides}})</mat-radio-button>

  </mat-radio-group>
</div>

<div *ngIf="actes.length > 0; then thenBlock; else elseBlock" class="detail-mfu"></div>

<ng-template #thenBlock>
  <h2>Nb d'actes : {{ dataSource.filteredData.length }}</h2>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" style="table-layout: fixed; width: 100%;">



    <!-- Type MFU -->
    <ng-container matColumnDef="typ_mfu" class="typ_mfu">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="typ_mfu">

        Type
      </th>
      <td mat-cell *matCellDef="let acte" class="typ_mfu">
        {{ acte.typ_mfu }}
      </td>
    </ng-container>

    <!-- Années -->
    <ng-container matColumnDef="debut" class="debut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="debut">

        Début
      </th>
      <td mat-cell *matCellDef="let acte" class="debut">{{ acte.debut }}</td>
    </ng-container>

    <ng-container matColumnDef="fin" class="fin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="fin">

        Fin
      </th>
      <td mat-cell *matCellDef="let acte" class="fin">{{ acte.fin }}</td>
    </ng-container>

    <!-- Surface totale -->
    <ng-container matColumnDef="surf_totale" class="surf_totale">
      <th mat-header-cell *matHeaderCellDef class="surf_totale">
        Surface totale

      </th>
      <td mat-cell *matCellDef="let acte" class="surf_totale">
        {{ acte.surf_totale }}
      </td>
    </ng-container>

    <!-- Tacite.r -->
    <ng-container matColumnDef="tacit_rec" class="tacit_rec">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="tacit_rec">
        Tacite.r

      </th>
      <td mat-cell *matCellDef="let acte" class="tacit_rec">
        {{ acte.tacit_rec }}
      </td>
    </ng-container>

    <!-- Type de propriétaire -->
    <ng-container matColumnDef="type_prop" class="type_prop">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="type_prop">
        Type prop.
      </th>
      <td mat-cell *matCellDef="let acte" class="type_prop">
        {{ acte.type_prop }}
      </td>
    </ng-container>

    <!-- Pièce jointe -->
    <ng-container matColumnDef="url" class="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="url">
        Lien du document
      </th>

      <!-- Téléchargement -->
      <td mat-cell *matCellDef="let acte" class="url">
        <a *ngIf="acte.url" [href]="acte.url" target="_blank">Ouvrir</a>
      </td>
    </ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" class="clickable-row"
      [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}"
      (click)="onSelect(row, $event)" matTooltip="Modifier cette parcelle"></tr>
  </table>

</ng-template>


<ng-template #elseBlock> Il n'y a pas d'acte MFU sur ce site. </ng-template>