//position pour un objet fixe
@mixin position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
// Boutons menus
@mixin btn-menu($base-color, $hover-darkness: 10%) {
  // background-color: lighten($base-color, 0%) !important;
  color: $menu-text !important; // Couleur par défaut du texte
  transition: background-color 0.3s ease;
  @include Typo($p16, $semiGras, $menu-text);
  &:hover {
    background-color: lighten(
      $base-color,
      $hover-darkness
    ) !important; // Couleur plus claire au survol
  }
}
//Dimensions (largeur, hauteur)
@mixin dim($width, $height) {
  width: $width;
  height: $height;
}
// Typographie(Taille, epaisseur, couleur)
@mixin Typo($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
// fond bleu logo avec le svg
@mixin fond-bleu() {
  background: $couleur-flore url("../../assets/images/fond/footer-bg.svg")
    no-repeat center/cover;
}
//Alignement en flex/grid horizontal et vertical
@mixin align($align, $justify) {
  align-items: $align;
  justify-content: $justify;
}
// Boutons texte
@mixin btn($textColor, $bgColor, $colorHover, $textHover) {
  @include Typo($p14, $semiGras, $textColor);
  background-color: $bgColor;
  @include dim(auto, 36px);
  @include align(center, center);
  border: none;
  border-radius: 100px;
  padding: 8px 10px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 25%);
}
@mixin boutonsHover($textHover, $colorHover) {
  @include Typo($p14, $semiGras, $textHover);
  background-color: $colorHover;
}
// Boutons image
@mixin boutonsImg($bgColor) {
  background-color: $bgColor;
  @include dim(40px, 40px);
  @include align(center, center);
  border: none;
  border-radius: 100px;
  padding: 8px 10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 25%);
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

@mixin background-color($color) {
  background-color: $color;
}
