//position pour un objet fixe
@mixin position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
// bandeau d'emplacement
@mixin bandeau($bgColor) {
  background-color: $bgColor;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
  @include Typo($p16, $gras, white);
  text-align: end;
}
//Dimensions (largeur, hauteur)
@mixin dim($width, $height) {
  width: $width;
  height: $height;
}
// Typographie(Taille, epaisseur, couleur)
@mixin Typo($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
// fond bleu logo avec le svg
@mixin fond-bleu() {
  background: $couleur-flore url("../../assets/images/fond/footer-bg.svg")
    no-repeat center/cover;
}
//Alignement en flex/grid horizontal et vertical
@mixin align($align, $justify) {
  align-items: $align;
  justify-content: $justify;
}
// Boutons menus
@mixin btn-menu($base-color, $hover-darkness: 10%) {
  // background-color: lighten($base-color, 0%) !important;
  color: $menu-text !important; // Couleur par défaut du texte
  transition: background-color 0.3s ease;
  @include Typo($p16, $semiGras, $menu-text);
  &:hover {
    background-color: lighten(
      $base-color,
      $hover-darkness
    ) !important; // Couleur plus claire au survol
  }
}
// Boutons texte
@mixin btn($textColor, $bgColor, $textHover, $colorHover) {
  @include Typo($p14, $semiGras, $textColor);
  background-color: $bgColor;
  @include dim(auto, 36px);
  @include align(center, center);
  border: none;
  border-radius: 100px;
  padding: 8px 10px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 7px 7px 5px 5px rgb(0 0 0 / 25%);
  &:hover {
    @include Typo($p14, $semiGras, $textHover);
    background-color: $colorHover;
  }
}
// Boutons image
@mixin btn-icon($bgColor, $bgHover) {
  background-color: $bgColor;
  @include dim(40px, 40px);
  @include align(center, center);
  border: none;
  border-radius: 100px;
  padding: 8px 10px;
  cursor: pointer;
  box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 25%);
  &:hover {
    background-color: $bgHover;
  }
}

@mixin icon($color, $colorHover) {
  @include Typo($p16, $normal, $color);
  text-align: center;
  cursor: pointer;
  &:hover {
    @include Typo($p16, $normal, $colorHover);
  }
}

@mixin input($borderColor, $typoColor) {
  display: flex;
  @include align(center, start);
  @include Typo($p16, $normal, $typoColor);
  background-color: rgba(248, 244, 186, 0.5);
  border: 1px solid $borderColor;
  border-radius: 5px;
  min-height: 36px;
  height: auto;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
@mixin btn-edition() {
  display: flex;
  @include align(center, start);
  margin-bottom: 20px;
  .btn-edition {
    @include btn(white, $couleur-faune, white, $orangeM);
  }
}
