//Responsive
$mobile: 768px;
$tablette: 1024px;
$desktop: 1440px;

// Couleur principale du CENCA
$couleur-flore: #164194;
$couleur-territoire: #76b82a;
$couleur-faune: #d77813;

// Typographie
// Taille
$h1: 58px;
$h2: 46px;
$h3: 38px;
$h4: 34px;
$h5: 30px;
$h6: 28px;
$h7: 24px;
$h8: 20px;
$h9: 18px;
$h10: 16px;
$h11: 14px;
$h12: 12px;

// Epaisseur
$gras: bold;
$semiGras: 600;
