//Responsive
$mobile: 545px;
$tablette: 1024px;
$desktop: 1440px;

// Couleur principale du CENCA
$couleur-flore: #164194;
$couleur-territoire: #76b82a;
$couleur-faune: #d77813;

// Couleur univers chromatique du CENCA
// Verts
$vertTC: #f5fff7;
$vertTC2: $vertTC;
$vertC: #e0de12;
$VertM: #c1d112;
$VertF: #4b6426;
$blackGreen: rgba(15, 34, 3, 0.5);

// Oranges
$orangeC: #fec700;
$orangeM: #b44917;
$orangeF: #63340d;

// Bleus
$bleuC: #8cd2f5;
$bleuM: #089cd9;
$bleuF: #495fa9;
$superBlue: rgb(25, 118, 210);

// Couleurs complémentaires
//déclinaison de jaune
$jauneC: #f8f4ba;
$jauneM: #f4ee92;
$jauneF: #ebe01f;

//déclinaison de violet
$violetC: #d0a9cf;
$violetM: #bb7bb3;
$violetF: #430035;

//déclinaison de rouge
$redC: #f8baba;
$redM: #f4a2a2;
$redF: #f4a2a2;
$superRed: rgb(223, 84, 84);

// Couleur du menu
$proteger: $couleur-faune; // Couleur de fond personnalisée

$connaitre: $bleuC;

$gerer: $couleur-territoire;
$gererBackdrop: $blackGreen;

$valoriser: $orangeC;

$accompagner: $violetM;

$administratif: $bleuM;

$liens-utiles: $VertM;

$parametres: $bleuM;

$redBackdrop: rgba(77, 36, 36, 0.8);
$blueBackdrop: rgba(36, 36, 77, 0.8);

$menu-text: white; // Couleur du texte
$type-operation: #dbdbdb;

// Typographie
// Taille
$h1: 58px;
$h2: 46px;
$h3: 38px;

// texte
$p34: 34px;
$p30: 30px;
$p20: 28px;
$p24: 24px;
$p20: 20px;
$p18: 18px;
$p16: 16px;
$p14: 14px;
$p12: 12px;
$p10: 10px;
$p8: 8px;

// Epaisseur
$gras: bold;
$semiGras: 600;
$normal: 400;
