<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content>
  
  <div [innerHTML]="data.message" class='message'></div>

</mat-dialog-content>

<!-- Boutons -->
<mat-dialog-actions class = "center-buttons">
  <button mat-button
          [ngClass]="{
            'btn-warn': data.mode === 'delete',
            'btn-blue': data.mode === 'duplicate'
          }"
          (click)="onYesClick()"
  >
    {{ data.mode === 'delete' ? 'Supprimer' : (data.mode === 'duplicate' ? 'Dupliquer' : 'Valider') }}
  </button>
  <button mat-button (click)="onNoClick()">Annuler</button>
</mat-dialog-actions>