<mat-dialog-content class="dialogue" *ngIf="!isLoading; else loading">
  <div class="conteneur-projet">
    <div class="proteger"><p>Protéger</p></div>
    <div class="projet">
      <!-- -- Variable isEditProjet : {{ isEditProjet }}<br>
      -- Variable isEditProjet : {{ isEditProjet }}<br>
      -- Variable isEditObjectif : {{ isEditObjectif }}<br>
      -- Variable isAddObjectif : {{ isAddObjectif }}<br>
      -- Variable isEditOperation : {{ isEditOperation }}<br>
      -- Variable isAddOperation : {{ isAddOperation }}<br>
      -- Variable newProjet : {{ newProjet }}<br>
      <ng-container *ngIf="projet?.pro_webapp">-- pro_webapp : {{ projet?.pro_webapp }}<br></ng-container> -->

      <ng-container *ngTemplateOutlet="stepper"></ng-container>
    </div>
  </div>
</mat-dialog-content>

<ng-template #stepper>
  <div class="example-input-wrapper">
    <!-- <label for="duration">Animation duration:</label> -->
    <input
      hidden
      id="duration"
      value="300"
      type="number"
      min="0"
      step="100"
      #duration
    />
  </div>
  <!-- Boutons de controle, titre et bouton de suppression -->
  <div
    class="button-title"
    [class.center-title]="
      pmfu === undefined || pmfu === null || isEditPmfu || isAddPmfu
    "
  >
    <!-- 1er element -->
    <div class="buttons-container">
      <div class="form-buttons" *ngIf="
                                projetLite.pmfu_id && (
                                  pmfuForm.get('pmfu_responsable')?.value === cd_salarie 
                                  ||
                                  pmfuForm.get('pmfu_associe')?.value === cd_salarie
                                  ||
                                  pmfuForm.get('pmfu_createur')?.value === cd_salarie
                                  )
                                ||
                                (gro_id !== null && gro_id > 2)
                                ">
        <app-form-buttons
          [isEditActive]="isEditPmfu"
          icone="edit"
          [theme]="'proteger'"
          [isFormValid]="isFormValid"
          (toggleAction)="toggleEditPmfu()"
          (onSubmit)="onSubmit()"
        ></app-form-buttons>
      </div>

      <div class="title-container">
        <ng-container
          *ngTemplateOutlet="newPmfu ? newTitle : title"
        ></ng-container>
      </div>
      
      <div class="suppression" *ngIf="
                                projetLite.pmfu_id && (
                                  pmfuForm.get('pmfu_responsable')?.value === cd_salarie 
                                  ||
                                  pmfuForm.get('pmfu_associe')?.value === cd_salarie
                                  ||
                                  pmfuForm.get('pmfu_createur')?.value === cd_salarie
                                  )
                                ||
                                (gro_id !== null && gro_id > 2)
                                ">
        <button mat-button (click)="deletePmfuConfirm()">
          Supprimer
        </button>
      </div>
    </div>
    <!-- 2eme element -->

    <ng-template #title>
      <div class="title-wrapper">
        <h2 *ngIf="!isEditPmfu">Consultation du Projet MFU</h2>
        <h2 *ngIf="isEditPmfu">Modification du Projet MFU</h2>
        <h2 *ngIf="!newPmfu">{{ pmfuTitle }}</h2>
      </div>
    </ng-template>
    <ng-template #newTitle>
      <h2 *ngIf="newPmfu">Création d'un projet neuf en cours</h2>
      <div>Formulaire valide : {{ pmfuForm.valid }}</div>
      <div>Commune sélectionnée : {{ pmfuForm.get('pmfu_commune')?.value }}</div>
    </ng-template>
  </div>
  <mat-horizontal-stepper
    [linear]="false"
    #mfuStepper
    [animationDuration]="duration.value"
  >
    <!-- Étape 1: Informations principales -->
    <mat-step>
      <ng-template matStepLabel>Informations principales</ng-template>

      <!-- Formulaire mutualisé édition/lecture seule -->
      <form [formGroup]="pmfuForm" class="first-step">

        <div class="form-row">

          <mat-form-field appearance="fill">
            <mat-label>Nom du projet</mat-label>
            <input matInput formControlName="pmfu_nom" [readonly]="!isEditPmfu" />
          </mat-form-field>

          <mat-label>Mesures compensatoires</mat-label>
          <mat-checkbox formControlName="pmfu_mes_comp" [disabled]="!isEditPmfu"></mat-checkbox>

        </div>

        <div class="form-row">
        
        <!-- <div *ngFor="let salarie of salaries | filterBy:'is_ope':1">
          <div>{{ salarie.libelle }} - is_ope :{{ salarie.is_ope }}</div>
        </div> -->

        <mat-form-field appearance="fill">
          <mat-label>Responsable</mat-label>
          <ng-container *ngIf="isEditPmfu; else responsableReadonly">
            <mat-select formControlName="pmfu_responsable">
              <mat-option *ngFor="let salarie of salaries | filterBy:'is_ope':1" [value]="salarie.cd_type">
                {{ salarie.libelle }}
              </mat-option>
            </mat-select>
          </ng-container>
          <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_responsable')?.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_responsable')?.setValue(null); $event.stopPropagation()">
            <mat-icon>close</mat-icon>
          </button>
          <ng-template #responsableReadonly>
            <input matInput [value]="formService.getLibelleByCdType(pmfuForm.get('pmfu_responsable')?.value, salaries)" readonly />
          </ng-template>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Collègue associé</mat-label>
          <ng-container *ngIf="isEditPmfu; else associeReadonly">
            <mat-select formControlName="pmfu_associe">
              <mat-option *ngFor="let salarie of salaries | filterBy:'is_ope':1" [value]="salarie.cd_type">
                {{ salarie.libelle }}
              </mat-option>
            </mat-select>
          </ng-container>
          <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_associe')?.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_associe')?.setValue(null); $event.stopPropagation()">
            <mat-icon>close</mat-icon>
          </button>
          <ng-template #associeReadonly>
            <input matInput [value]="formService.getLibelleByCdType(pmfuForm.get('pmfu_associe')?.value, salaries)" readonly />
          </ng-template>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Créateur du projet</mat-label>
          <input matInput [value]="formService.getLibelleByCdType(pmfuForm.get('pmfu_createur')?.value, salaries)" [readonly]="!isEditPmfu" />
        </mat-form-field>

        </div>

        <div class="form-row">

          <mat-form-field appearance="fill">
            <mat-label>Département</mat-label>
            <ng-container *ngIf="isEditPmfu; else departementReadonly">
              <mat-select formControlName="pmfu_dep">
                <mat-option value="08">Ardennes</mat-option>
                <mat-option value="10">Aube</mat-option>
                <mat-option value="51">Marne</mat-option>
                <mat-option value="52">Haute-Marne</mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_dep')?.value && !communeCtrl.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_dep')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #departementReadonly>
              <input matInput [value]="getDepartementLibelle(pmfuForm.get('pmfu_dep')?.value)" readonly />
            </ng-template>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Commune</mat-label>
            <ng-container *ngIf="isEditPmfu; else communeReadonly">
              <input type="text" matInput [formControl]="communeCtrl" [matAutocomplete]="auto" #trigger="matAutocompleteTrigger" (focus)="trigger.openPanel()" [disabled]="isCommuneDisabled" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCommune">
                <mat-option *ngFor="let commune of filteredCommunes" [value]="commune">
                  {{ commune.nom }}
                </mat-option>
              </mat-autocomplete>
            </ng-container>
            <button *ngIf="isEditPmfu && communeCtrl.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="clearCommune(); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #communeReadonly>
              <input matInput [value]="communeNomReadonly" readonly />
            </ng-template>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Type d'acte</mat-label>
            <ng-container *ngIf="isEditPmfu; else typeActeReadonly">
              <mat-select formControlName="pmfu_type_acte">
                <mat-option *ngFor="let type of typeActe" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_type_acte')?.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_type_acte')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #typeActeReadonly>
              <input matInput [value]="formService.getLibelleByCdType(pmfuForm.get('pmfu_type_acte')?.value, typeActe)" readonly />
            </ng-template>
          </mat-form-field>

        </div>

        <div class="form-row">

          <mat-form-field appearance="fill">
            <mat-label>Validation bureau/CA</mat-label>
            <ng-container *ngIf="isEditPmfu; else validCaReadonly">
              <mat-select formControlName="pmfu_validation">
                <mat-option *ngFor="let type of typeValidationCa" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_validation')?.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_validation')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #validCaReadonly>
              <input matInput [value]="formService.getLibelleByCdType(pmfuForm.get('pmfu_validation')?.value, typeValidationCa)" readonly />
            </ng-template>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Territoire Agence Eau</mat-label>
            <ng-container *ngIf="isEditPmfu; else agenceReadonly">
              <mat-select formControlName="pmfu_agence" multiple>
                <mat-option *ngFor="let type of typeAgence" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_agence')?.value?.length" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_agence')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #agenceReadonly>
              <textarea matInput [value]="getAgencesLibelles()" readonly rows="2" class="textarea"></textarea>
            </ng-template>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Territoire</mat-label>
            <ng-container *ngIf="isEditPmfu; else TerritReadonly">
              <mat-select formControlName="pmfu_territoire" multiple>
                <mat-option *ngFor="let type of typeTerritoire" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_territoire')?.value?.length" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_territoire')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #TerritReadonly>
              <textarea matInput [value]="getTerritoiresLibelles()" readonly rows="2" class="textarea"></textarea>
            </ng-template>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Superficie (ha)</mat-label>
            <input matInput formControlName="pmfu_superficie" type="number" [readonly]="!isEditPmfu" />
          </mat-form-field>

        </div>

        <div class="form-row">

          <mat-form-field appearance="fill">
            <mat-label>Année de début</mat-label>
            <input matInput formControlName="pmfu_annee_debut" type="number" [readonly]="!isEditPmfu" min="2024" max="2099" />
            <mat-error *ngIf="pmfuForm.get('pmfu_annee_debut')?.hasError('min')">
              L'année doit être supérieure ou égale à 2024.
            </mat-error>
            <mat-error *ngIf="pmfuForm.get('pmfu_annee_debut')?.hasError('max')">
              L'année doit être inférieure à 2100.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Année de signature</mat-label>
            <input matInput formControlName="pmfu_annee_signature" type="number" [readonly]="!isEditPmfu" [min]="anneeSignatureMin" max="2099" />
            <mat-error *ngIf="pmfuForm.get('pmfu_annee_signature')?.hasError('yearBeforeStart')">
              L'année de signature doit être supérieure ou égale à l'année de début.
            </mat-error>
            <mat-error *ngIf="pmfuForm.get('pmfu_annee_signature')?.hasError('min')">
              L'année doit être supérieure ou égale à 2025.
            </mat-error>
            <mat-error *ngIf="pmfuForm.get('pmfu_annee_signature')?.hasError('max')">
              L'année doit être inférieure à 2100.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Type de propriétaire</mat-label>
            <ng-container *ngIf="isEditPmfu; else proprioReadonly">
              <mat-select formControlName="pmfu_proprietaire" multiple>
                <mat-option *ngFor="let type of typeProprio" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_proprietaire')?.value?.length" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_proprietaire')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #proprioReadonly>
              <textarea matInput [value]="getProprietairesLibelles()" readonly rows="2" class="readonly-textarea"></textarea>
            </ng-template>
          </mat-form-field>

          

        </div>
        <div class="form-row">

          <mat-form-field appearance="fill">
            <mat-label>Financements envisagés</mat-label>
            <ng-container *ngIf="isEditPmfu; else financementsReadonly">
              <mat-select formControlName="pmfu_financements" multiple>
                <mat-option *ngFor="let type of typeFinancement" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_financements')?.value?.length" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_financements')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #financementsReadonly>
              <textarea matInput [value]="getFinancementsLibelles()" readonly rows="2" class="textarea"></textarea>
            </ng-template>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Coût estimé</mat-label>
            <input matInput formControlName="pmfu_cout" [readonly]="!isEditPmfu" />
            <span matTextSuffix> €</span>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_cout')?.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_cout')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

        </div>

        <div class="form-row">

          <mat-form-field appearance="fill">
            <mat-label>Besoin d'appui</mat-label>
            <ng-container *ngIf="isEditPmfu; else appuiReadonly">
              <mat-select formControlName="pmfu_appui" multiple>
                <mat-option *ngFor="let type of typebesoinAppuis" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_appui')?.value?.length" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_appui')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #appuiReadonly>
              <textarea matInput [value]="getAppuisLibelles()" readonly rows="2" class="textarea"></textarea>
            </ng-template>
          </mat-form-field>

          <mat-form-field appearance="fill" *ngIf="pmfuForm.get('pmfu_appui')?.value?.length > 0">
            <mat-label>Description appui</mat-label>
            <textarea matInput formControlName="pmfu_appui_desc" rows="3" [readonly]="!isEditPmfu"></textarea>
          </mat-form-field>

        </div>

        <div class="form-row">

          <mat-form-field appearance="fill">
            <mat-label>Priorité</mat-label>
            <ng-container *ngIf="isEditPmfu; else prioriteReadonly">
              <mat-select formControlName="pmfu_priorite">
                <mat-option *ngFor="let type of typePriorite" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_priorite')?.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_priorite')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #prioriteReadonly>
              <input matInput [value]="formService.getLibelleByCdType(pmfuForm.get('pmfu_priorite')?.value, typePriorite)" readonly />
            </ng-template>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <ng-container *ngIf="isEditPmfu; else statusReadonly">
              <mat-select formControlName="pmfu_status">
                <mat-option *ngFor="let type of typeStatus" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_status')?.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_status')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #statusReadonly>
              <input matInput [value]="formService.getLibelleByCdType(pmfuForm.get('pmfu_status')?.value, typeStatus)" readonly />
            </ng-template>
          </mat-form-field>

        </div>

        <div class="form-row">
          
          <mat-form-field appearance="fill">
            <mat-label>Échéances</mat-label>
            <ng-container *ngIf="isEditPmfu; else echeancesReadonly">
              <input matInput [matDatepicker]="echeancesPicker" formControlName="pmfu_echeances" />
            </ng-container>
            <ng-template #echeancesReadonly>
              <input matInput [value]="pmfuForm.get('pmfu_echeances')?.value | date:'dd/MM/yyyy'" readonly />
            </ng-template>
            <mat-datepicker-toggle *ngIf="isEditPmfu" matSuffix [for]="echeancesPicker"></mat-datepicker-toggle>
            <mat-datepicker #echeancesPicker></mat-datepicker>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_echeances')?.value" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_echeances')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Dernière MAJ</mat-label>
            <input matInput [value]="pmfuForm.get('pmfu_derniere_maj')?.value | date:'dd/MM/yyyy'" readonly />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Création</mat-label>
            <input matInput [value]="pmfuForm.get('pmfu_creation')?.value | date:'dd/MM/yyyy'" readonly />
          </mat-form-field>
        </div>

        <div class="form-row">
          
          <mat-form-field appearance="fill">
            <mat-label>Prochaines étapes</mat-label>
            <ng-container *ngIf="isEditPmfu; else prochEtapesReadonly">
              <mat-select formControlName="pmfu_proch_etape" multiple>
                <mat-option *ngFor="let type of typeProchEtape" [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </ng-container>
            <button *ngIf="isEditPmfu && pmfuForm.get('pmfu_proch_etape')?.value?.length" matSuffix mat-icon-button aria-label="Effacer" class="clear-btn" (click)="pmfuForm.get('pmfu_proch_etape')?.setValue(null); $event.stopPropagation()">
              <mat-icon>close</mat-icon>
            </button>
            <ng-template #prochEtapesReadonly>
              <textarea matInput [value]="getEtapesLibelles()" readonly rows="2" class="textarea"></textarea>
            </ng-template>
          </mat-form-field>
        
        </div>

        <div class="form-row">

          <mat-form-field appearance="fill">
            <mat-label>Détails juridiques</mat-label>
            <textarea matInput formControlName="pmfu_quest_juri" rows="5" [readonly]="!isEditPmfu"></textarea>
          </mat-form-field>

        </div>


        <div *ngIf="isEditPmfu">

          <button mat-button matStepperNext>Suivant</button>

        </div>

      </form>
    </mat-step>
    
    <!-- Étape 2: Localisation -->
    <mat-step>
      <ng-template matStepLabel>Localisation</ng-template>

      <!-- <div>
        <ng-container *ngFor="let parcelle of parcellesSelected">
          {{ parcelle.idu }} - {{ parcelle.section }}{{ parcelle.numero }}
        </ng-container>
      </div>
      <div>
        Valeurs du formulaire :
        <ng-container *ngFor="let entry of pmfuForm.value | keyvalue">
          {{ entry.key }} : {{ entry.value }}
        </ng-container>
      </div>
      <div>
        {{ pmfuForm.get('pmfu_parc_list_array')?.value }}
      </div> -->

      <!-- DEBUG -->
      <!-- <div>Parcelles selectionnées :
          <ng-container *ngFor="let parcelle of parcellesSelected; let i = index">
            Index : {{ i }} | idu : {{ parcelle.idu }}
          </ng-container>
      </div>

      <div>Parcelles Initiales backup :
          <ng-container *ngFor="let parcelle of parcellesInitialesBackup; let i = index">
            Index : {{ i }} | idu : {{ parcelle.idu }}
          </ng-container>
      </div>

      <div>Parcelles Initiales :
          <ng-container *ngFor="let entry of initialparcellesSelected | keyvalue">
          {{ entry.key }} : {{ entry.value }}
        </ng-container>
      </div>

      <div>Parcelles du formulaire :
         <ng-container *ngFor="let entry of pmfuForm.get('pmfu_parc_list_array')?.value | keyvalue">
          {{ entry.key }} : {{ entry.value }}
        </ng-container>
      </div>

      <div>Parcelles Ajoutées :
         <ng-container *ngFor="let entry of parcellesAjoutees | keyvalue">
          {{ entry.key }} : {{ entry.value }}
        </ng-container>
      </div> -->


      <!-- Contrôles pour les sites CENCA -->
      <!-- <div class="carte-controls">
        Afficher dynamiquement :
        <div class="toggles-container">
          <mat-slide-toggle 
            [(ngModel)]="afficherSitesCencaSites"
            (change)="toggleSitesCencaSites()">
            🟢 Les sites CENCA (gérés en verts)
          </mat-slide-toggle>

          <mat-slide-toggle 
            [(ngModel)]="afficherSitesCenca"
            (change)="toggleSitesCenca()">
            🌿 Les autres sites (CAST et autres en jaune)
          </mat-slide-toggle>
        </div> -->

        <!-- Parcelles sélectionnées (selectionnées a l'instant présent ou chargée depuis le bdd). -->
        <div *ngIf="parcellesSelected.length >= 0" class="parcelles-selected" style="display: flex; flex-wrap: wrap; gap: 8px; align-items: center;">
          <span style="font-weight: bold; margin-right: 8px;">Parcelles sélectionnées :</span>
          
          <ng-container *ngFor="let parcelle of parcellesSelected">
            <div class="parcelle-info" style="background: #f5eee8; border-radius: 6px; padding: 4px 10px; margin-bottom: 4px; box-shadow: 0 1px 2px rgba(0,0,0,0.04); display: flex; align-items: center; min-height: 40px;">
              <div class="zoom-wrapper" (click)="zoomToParcelle(parcelle)" title="Zoomer sur cette parcelle" style="margin-right: 8px; cursor: pointer;">
                <mat-icon class="zoom-icon" color="primary">zoom_in</mat-icon>
              </div>
              {{ parcelle.nom_com }} {{ parcelle.section }} - {{ parcelle.numero }} - {{ parcelle.idu }}
              <div class="delete-wrapper" (click)="removeParcelle(parcelle)" title="Supprimer cette parcelle">
                <mat-icon *ngIf="isEditPmfu" class="delete-icon">delete</mat-icon>
              </div>
            </div>
          </ng-container>
        </div>

        <!-- <div>pmfuForm.get('pmfu_parc_list_array')?.value : {{pmfuForm.get('pmfu_parc_list_array')?.value}}</div>
        <div>parcellesSelected : {{parcellesSelected}}</div> -->
        
        <!-- <div class="sites-info" *ngIf="afficherSitesCenca || afficherSitesCencaSites">
          <mat-hint *ngIf="afficherSitesCencaSites">🟢 Sites CENCA Sites se chargent automatiquement !</mat-hint>
          <mat-hint *ngIf="afficherSitesCenca">🌿 Sites CENCA autres dynamiques se chargent automatiquement !</mat-hint>
        </div> -->

      <div class="map-container">
        <app-map 
          [isEditMode]="isEditPmfu"
          [mapName]="'pmfu-' + (pmfu ? pmfu.pmfu_id : 'nouveau')"
          [chargerSitesDynamiquement]="afficherSitesCenca"
          [chargerSitesSitesDynamiquement]="afficherSitesCencaSites"
          [chargerParcellesDynamiquement]="true"
          [selectParcellesMode]="selectParcellesMode"
          [parcellesSelectedInitiales]="parcellesSelected"
          (sitesCencaToggled)="onSitesCencaToggled($event)"
          (sitesCencaSitesToggled)="onSitesCencaSitesToggled($event)"
          (parcellesToggled)="onParcellesToggled($event)"
          (parcellesSelected)="onParcellesSelected($event)"
          (parcelleRemoved)="onParcelleRemoved($event)"
          style="height: 500px; width: 100%; border: 1px solid #ccc; border-radius: 4px;">
        </app-map>
      </div>

      <div class="step-actions">
        <button mat-button matStepperPrevious>Précédent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </mat-step>
    
    <!-- Étape 3: Pièces jointes -->
    <mat-step>
      <ng-template matStepLabel>Pièces jointes</ng-template>
<form [formGroup]="pmfuForm" class="second-step" *ngIf="isEditPmfu">
  <div class="form-row">

    @for (type of doc_types; track type.cd_type) {
      <div
        class="form-field upload"
        (drop)="onFileDropped($event, type.field)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
      >
        <label [for]="type.field">
          {{ type.libelle }}
          <br />
          <small>({{ allowedTypes[type.field].join(', ') || 'Fichiers autorisés inconnus' }})</small>
        </label>

        <input
          type="file"
          [id]="type.field"
          (change)="onFileSelected($event, type.field)"
          [accept]="allowedTypes[type.field].join(',')"
          multiple
          class="hidden"
        />

        <label [for]="type.field" class="drop-zone">
          <mat-icon class="upload-icon">upload_file</mat-icon>
          <span class="drop-text">
            Glissez-déposez vos fichiers ou cliquez
          </span>
        </label>

        <div *ngIf="fileErrors[type.field]?.length" class="error-messages">
          <div *ngFor="let err of fileErrors[type.field]" class="error-text">
            {{ err }}
          </div>
        </div>

        <mat-list class="upload-list">
          @for (file of filesNames; track file[0]) {
            <mat-list-item *ngIf="file[1] === type.field" class="upload-list-item">
              <div class="upload-list-item">
                <div matListItemTitle>- {{ file[0] }}</div>
                <button mat-icon-button (click)="removeDroppedFile([file[0], file[1]])">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
          }
        </mat-list>
      </div>
    }

  </div>

  <input type="hidden" formControlName="pmfu_id" />
</form>

      <form [formGroup]="pmfuForm" class="second-step" *ngIf="!isEditPmfu">
        <app-file-explorator
        [section]="1"
        [referenceId]="pmfu.pmfu_id"
        ></app-file-explorator>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</ng-template>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner class="spinner-orange"></mat-spinner>
    <p>Chargement ...</p>
  </div>
</ng-template>