// Rappelle des variable et des fonction CSS
@import "../../app/styles/variables.scss";
@import "../../app/styles/mixins.scss";

header {
  @include fond-bleu();

  nav {
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    @include align(center, space-between);
    gap: auto;

    .logo-conteneur {
      @include dim(250px, 70px);
      background: white;
      cursor: pointer;

      .logoGrand {
        @include dim(auto, 70px);
        object-fit: cover;
        cursor: pointer;
      }

      .logoPetit {
        display: none;
      }
    }

    .menu-conteneur {
      display: flex;
      @include dim(100%, 100%);

      .menu {
        display: flex;
        @include dim(100%, 100%);
        @include align(center, center);
        gap: 50px;
      }
    }

    .connection {
      display: flex;
      margin-left: auto;
      align-items: end;
      gap: 10px;

      img {
        @include dim(40px, 40px);
        border: 1px solid white;
        border-radius: 100px;
        object-fit: cover;
      }
      .hamburger {
        display: none;
      }
    }
  }
}
.c-proteger {
  @include btn-menu(
    $proteger
  ); // Inclut les styles de base comme padding et border-radius
}

.c-connaitre {
  @include btn-menu(
    $connaitre
  ); // Inclut les styles de base comme padding et border-radius
}

.c-gerer {
  @include btn-menu(
    $gerer
  ); // Inclut les styles de base comme padding et border-radius
}

.c-valoriser {
  @include btn-menu(
    $valoriser
  ); // Inclut les styles de base comme padding et border-radius
}

.c-accompagner {
  @include btn-menu(
    $accompagner
  ); // Inclut les styles de base comme padding et border-radius
}

.c-administratif {
  @include btn-menu(
    $administrafif
  ); // Inclut les styles de base comme padding et border-radius
}
.c-liens-utiles {
  @include btn-menu(
    $liens-utiles
  ); // Inclut les styles de base comme padding et border-radius
}
span {
  color: black !important;
}

// RESPONSIVE
@media screen and (max-width: $tablette) {
  header {
    nav {
      margin: 0 25px;
      gap: 0;
      .logo-conteneur {
        @include dim(60px, 70px);
        .logoGrand {
          display: none;
        }
        .logoPetit {
          display: block;
          @include dim(60px, 70px);
          object-fit: cover;
        }
      }
      .menu-conteneur {
        .menu {
          display: none;
        }
      }
      .connection {
        display: flex; /* Make the container a flexbox */
      }

      // .connection img,
      // .connection .hamburger {
      //   align-self: center; /* Align elements vertically in the container */
      // }
      .connection {
        gap: 20px;
        .hamburger {
          display: block;

          .btn-hamburger {
            display: flex;
            @include align(center, center);
            border: 1px solid white;
            @include dim(auto, 40px);
            border-radius: 100px;
            color: white;
          }
          .icon {
            display: flex;
            @include align(center, center);
            @include dim(25px, 25px);
            text-align: center;
          }
          span {
            @include dim(40px, 40px);
          }
        }
      }
    }
  }
}
