// Rappelle des variable et des fonction CSS
@import "../../app/styles/variables.scss";
@import "../../app/styles/mixins.scss";

header {
  @include fond-bleu();

  nav {
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
    @include align(center, space-between);
    @include Typo($h11, $semiGras, white);
    gap: 144px;
    .logo-conteneur {
      @include dim(250px, 70px);
      background: white;
      .logoGrand {
        @include dim(auto, 70px);
        object-fit: cover;
      }
      .logoPetit {
        display: none;
      }
    }
    .menu-conteneur {
      display: flex;
      @include dim(100%, 100%);
      .menu {
        display: flex;
        @include dim(100%, 100%);
        @include align(center, center);
        gap: 90px;
        a,
        li {
          list-style: none;
          text-decoration: none;
          @include Typo($h8, $semiGras, white);
          @include align(center, center);
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
    .connection {
      display: flex;
      margin-left: auto;
      align-items: end;
      gap: 10px;

      img {
        @include dim(40px, 40px);
        border: 1px solid white;
        border-radius: 100px;
        object-fit: cover;
      }
      .hamburger {
        display: none;
      }
    }
  }
}

// RESPONSIVE
@media screen and (max-width: $mobile) {
  header {
    nav {
      margin: 0 25px;
      gap: 0;
      .logo-conteneur {
        @include dim(60px, 70px);
        .logoGrand {
          display: none;
        }
        .logoPetit {
          display: block;
          @include dim(60px, 70px);
          object-fit: cover;
        }
      }
      .menu-conteneur {
        .menu {
          display: none;
        }
        // &.open ===.menu.open !== .menu .open
        &.open {
          display: block;
          position: absolute;
          @include dim(20%, 20%);
          top: 80px;
          background-color: red;
        }
      }
      .connection {
        gap: 26px;
        .hamburger {
          display: block;
          img {
            @include boutonsImg(white);
          }
        }
      }
    }
  }
}
