<header class="header bg-primary">
    <div class="logo">
        <img src="../assets/images/logocen-color-petit.png" alt="logo du CENCA">
    </div>
    <nav>
        <ul class="navbar">
            <li>
                <a [routerLink]="['/']"> Accueil</a>
            </li>
            <li>
                <a [routerLink]="['/sites']"> MaRie (Sites) </a>
            </li>
            <li>
                <a [routerLink]="['/admin']"> Admin </a>
            </li>
            <li>
                A propos
            </li>
            <li class="icon">
                <img class="login" src="../assets/icons/login-icon.svg" alt="logo de connexion">
            </li>
        </ul>
    </nav>
</header>
<div class="border"></div>

