<div class="border"></div>
<footer class="footer bg-footer bg-primary text-white">
    <div class="imag">
        <img class="logo" src="../assets/images/logocen-bleu.png" alt="logo du CENCA">
    </div>
    <div class="contact">
        <h2 class="text-secondary-light">Contacter l'administrateur</h2>
        <h3>Nicolas ELIE</h3>
        <p>geomatique&#64;cen-champagne-ardenne.org</p>
    </div>
    <div class="reseaux">
        <h2 class="text-secondary-light">NOUS SUIVRE</h2>
        <img class="logo-reseaux" src="../assets/icons/facebook-logo.svg" alt="Icône de facebook">
        <img class="logo-reseaux" src="../assets/icons/youtube-logo.svg" alt="Icône de youtube">
    </div>
    <div class="droits">
        <p>© 2024 CENCA</p>
    </div>
</footer>
