<footer>
  <div class="conteneur">
    <div class="infos">
      <div class="logo">
        <img
          src="../assets/images/logo/logocen-color-petit.png"
          alt="logo du CENCA"
          (click)="nagigateToHome()"
        />
      </div>
      <div class="contact">
        <h2>Contacter l'administrateur</h2>
        <p>
          <span>Nicolas ELIE :</span> geomatique&#64;cen-champagne-ardenne.org
        </p>
      </div>
      <div class="reseaux">
        <h2>NOUS SUIVRE</h2>
        <div class="logos-reseaux">
          <img
            src="../assets/images/icons/reseaux/facebook-logo.svg"
            alt="Icône de facebook"
          />
          <img
            src="../assets/images/icons/reseaux/youtube-logo.svg"
            alt="Icône de youtube"
          />
        </div>
      </div>
    </div>
    <div class="droits">
      <p>© 2024 CENCA</p>
    </div>
  </div>
</footer>
