@import "../../app/styles/variables.scss";
@import "../../app/styles/mixins.scss";

footer {
  display: flex;
  // @include position(auto, 0, 0, 0);
  @include fond-bleu();
  @include dim(100%, 150px);
  @include align(center, space-between);
}
.conteneur {
  display: grid;
  flex-wrap: wrap;
  margin: 0 50px;
  @include dim(100%, 100%);
  padding: 20px 0;
  .infos {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    flex-wrap: wrap;
    gap: auto;
    .logo,
    .reseaux {
      @include dim(100%, auto);
    }
    .logo {
      @include dim(100%, 100%);
      img {
        background-color: white;
        @include dim(auto, 70px);
        object-fit: cover;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      @include align(center, top);
      h2 {
        @include Typo($p20, $semiGras, white);
        text-transform: uppercase;
      }
      h3 {
        @include Typo($p16, $semiGras, white);
        text-transform: uppercase;
      }
      p {
        @include Typo($p14, $normal, white);
      }
    }
    .reseaux {
      display: flex;
      flex-direction: column;
      @include align(end, top);
      h2 {
        @include Typo($p20, $semiGras, white);
        text-align: center;
      }
      .logos-reseaux {
        display: flex;
        @include align(center, center);
        gap: 22px;
        img {
          @include dim(auto, 45px);
          object-fit: cover;
        }
      }
    }
  }
  .droits {
    p {
      @include Typo($p14, $normal, white);
      text-align: center;
    }
  }
}

// RESPONSIVE
@media screen and (max-width: $mobile) {
  footer {
    display: flex;
    flex-direction: column;
    @include dim(100%, auto); /* Ajuste la hauteur automatiquement */
  }
  .conteneur {
    display: grid;
    flex-direction: column;
    @include dim(100%, 100%);
    padding: 10px 0;
    align-items: center;
    gap: 10px; /* Espacement entre les blocs */

    .infos {
      display: grid;
      grid-template-columns: (repeat(3, 3fr));
      flex-wrap: wrap;
      gap: 20px;
      margin: 0 20px;
      .logo {
        grid-column: 1/0;
        grid-row: 1;
        img {
          @include dim(auto, 60px);
        }
      }
      .contact {
        grid-column: 1/4;
        grid-row: 2/2;
        h2 {
          @include Typo($p14, $semiGras, white);
          text-transform: uppercase;
        }
        h3,
        p {
          @include Typo($p12, $normal, white);
        }
      }
      .reseaux {
        grid-column: 2/4;
        grid-row: 1;
        h2 {
          @include Typo($p14, $semiGras, white);
        }
        .logos-reseaux {
          display: flex;
          justify-content: center; /* Centre les icônes */
          gap: 22px; /* Réduit l'espace entre les icônes */
          img {
            @include dim(auto, 30px); /* Redimensionne les icônes */
          }
        }
      }
    }

    .droits {
      p {
        @include Typo($p12, $normal, white);
      }
    }
  }
}
