@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.detail-projets {
  display: flex;
}

h2 {
  padding-top: 10px;
}

//boutons edit/save/cancel
.edition {
  display: flex;
  @include align(center, start);
  margin-bottom: 20px;
  gap: 15px;
  .btn-edition {
    @include btn-icon($proteger, $orangeC);
    @include icon(white, black);
  }
  .btn-sauvegarde {
    @include btn-icon(white, $proteger);
    @include icon($couleur-flore, white);
  }
  .btn-annulation {
    @include btn-icon(white, red);
    @include icon(red, white);
  }
}

// Taille des colonnes
.mat-mdc-cell,
.mat-mdc-table .mat-mdc-header-cell {
  @include dim(100%, 100%);
  border: none;
}

// Ligne de titre
.mat-mdc-table mat-header-row.mat-mdc-header-row {
  border-bottom: 2px solid $couleur-faune;
}

// Responsive
@media screen and (max-width: $mobile) {
  .annee,
  .date_deb,
  .action,
  .typ_inter {
    display: none;
  }
}

// Lignes de fond mat-table
.even-row {
  background-color: white;
}

.odd-row {
  background-color: #f2f2f2; /* Gris très clair */
}

// Hauteur fixe pour chaque ligne
.mat-mdc-cell, .mat-mdc-header-cell {
  height: 110px; // Définissez la hauteur souhaitée ici
}