.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    align-self: flex-end;
  }

.mat-form-field .mat-error {
  color: red;
}