.sitesDiv{
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.sitesNav{
    width: 180px;
    background-color: rgb(224, 224, 224);
}

.sitesDisplay{
    width: 90%;
    background-color: rgb(255, 255, 255);
}