<a
  *ngIf="menuItem.url; else internalLink"
  class="carte {{ menuItem.class_color ?? 'default-color' }}"
  [href]="menuItem.url"
  target="_blank"
  rel="noopener noreferrer"
>

  <div class="titre">
    {{ menuItem.parent_name }}
  </div>
  <div class="infos">
    <div class="liens">
      {{ menuItem.name }}
    </div>
    <div class="description">
      {{ menuItem.description }}
    </div>
  </div>
  <div *ngIf="isNew" class="new-label">New</div>

</a>

<ng-template #internalLink>
  <a 
    class="carte {{ menuItem.class_color ?? 'default-color' }}" 
    [routerLink]="getRouterLink()"
  >
    
    <div class="titre">
      {{ menuItem.parent_name }}
    </div>
    <div class="infos">
      <div class="liens">
        {{ menuItem.name }}
      </div>
      <div class="description">
        {{ menuItem.description }}
      </div>
    </div>
    <div *ngIf="isNew" class="new-label">New</div>

  </a>
</ng-template>