@import "../../../app/styles/variables.scss";
@import "../../../app/styles/mixins.scss";

.carte {
  display: grid;
  grid-template-columns: 10% 1fr;
  gap: 10px;
  height: 150px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);

  .titre {
    display: flex;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
    @include align(center, center);
    @include Typo($p16, $semiGras, $menu-text);
    @include dim(100%, 100%);
    border-radius: 0 30px 30px 0;
  }

  .infos {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: wrap;
    padding: 15px 15px 15px 0;
    @include dim(100%, 100%);
    @include align(center, start);

    .liens {
      flex: 1 1 100%;
      @include Typo($p16, $semiGras, black);
      text-transform: uppercase;
      @include dim(100%, auto);
    }
    .description {
      flex: 1 1 100%;
      @include Typo($p14, $normal, black);
      @include dim(100%, auto);
    }
  }
}

.c-proteger {
  border: 2px solid $proteger;
  border-radius: 35px 35px 30px 30px;
  .titre {
    background-color: $proteger;
  }
}
.c-connaitre {
  border: 2px solid $connaitre;
  border-radius: 35px 35px 30px 30px;
  .titre {
    background-color: $connaitre;
  }
}
.c-gerer {
  border: 2px solid $gerer;
  border-radius: 35px 35px 30px 30px;
  .titre {
    background-color: $gerer;
  }
}
.c-valoriser {
  border: 2px solid $valoriser;
  border-radius: 35px 35px 30px 30px;
  .titre {
    background-color: $valoriser;
  }
}
.c-accompagner {
  border: 2px solid $accompagner;
  border-radius: 35px 35px 30px 30px;
  .titre {
    background-color: $accompagner;
  }
}
.c-administrafif {
  border: 2px solid $administrafif;
  border-radius: 35px 35px 30px 30px;
  .titre {
    background-color: $administrafif;
  }
}
.c-liens-utiles {
  border: 2px solid $liens-utiles;
  border-radius: 35px 35px 30px 30px;
  .titre {
    background-color: $liens-utiles;
  }
}
