<div id="container">
  <!-- Formulaire de connexion -->
  <!-- Visible uniquement en mode connexion (par defaut) -->
  <form *ngIf="!isForgotPasswordMode && !isResetPasswordMode" (submit)="login()" [formGroup]="loginFormGroup">
    <div class="titre">
      <h3>Connectez-vous</h3>
    </div>
    <div class="connexion">
      <mat-form-field>
        <mat-label>Identifiant</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>
    <div class="btn">
      <button mat-flat-button [disabled]="loginFormGroup.invalid">
        Connexion
      </button>
    </div>
    <div class="erreur">
      <mat-error *ngIf="invalidCredentials"
        >Identifiant ou mot de passe incorrect</mat-error
      >
    </div>
    <div class="mdp">
      <a href="#" (click)="isForgotPasswordMode = true; $event.preventDefault()">J'ai oublié mon mot de passe.</a>
    </div>
  </form>

  <!-- Formulaire de J'ai oublié mon mot de passe -->
  <form *ngIf="isForgotPasswordMode" (submit)="forgotPassword()" [formGroup]="forgotPasswordForm">
    <div class="titre">
      <h3>Réinitialisation du mot de passe</h3>
    </div>
    <mat-form-field>
      <mat-label>Adresse email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <div class="titre">
      <h4>Si votre adresse email CENCA est connue vous recevrez un lien de réinitialisation sur celle-ci.</h4>
    </div>
    <div class="btn">
      <button mat-flat-button [disabled]="forgotPasswordForm.invalid">Envoyer</button>
      <button mat-flat-button type="button" (click)="isForgotPasswordMode = false">Annuler</button>
    </div>
    <div class="success" *ngIf="!erreur && message">
      <mat-icon>check_circle</mat-icon>
        {{ message }}
    </div>
    <div class="erreur" *ngIf="erreur">
      <mat-error>
        {{ message }}
      </mat-error>
    </div>
  </form>

  <!-- Formulaire de réinitialisation du mot de passe -->
  <form *ngIf="isResetPasswordMode" (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
    <div class="titre">
      <h3>Définissez votre nouveau mot de passe</h3>
    </div>
    <mat-form-field>
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput
             [type]="showPassword ? 'text' : 'password'"
             formControlName="newPassword" />
      <button mat-icon-button
              matSuffix
              type="button"
              (click)="showPassword = !showPassword"
              [attr.aria-label]="'Afficher le mot de passe'"
              [attr.aria-pressed]="showPassword">
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <ul class="password-criteria">
      <div class="explications">
        <h4>Votre mot de passe doit respecter les critères suivants :</h4>
      </div>
      <li [ngClass]="{'ok': hasMinLength, 'ko': !hasMinLength}">
        <mat-icon>{{ hasMinLength ? 'check_circle' : 'cancel' }}</mat-icon>
        Au moins 8 caractères
      </li>
      <li [ngClass]="{'ok': hasUppercase, 'ko': !hasUppercase}">
        <mat-icon>{{ hasUppercase ? 'check_circle' : 'cancel' }}</mat-icon>
        Une majuscule
      </li>
      <li [ngClass]="{'ok': hasLowercase, 'ko': !hasLowercase}">
        <mat-icon>{{ hasLowercase ? 'check_circle' : 'cancel' }}</mat-icon>
        Une minuscule
      </li>
      <li [ngClass]="{'ok': hasDigit, 'ko': !hasDigit}">
        <mat-icon>{{ hasDigit ? 'check_circle' : 'cancel' }}</mat-icon>
        Un chiffre
      </li>
      <li [ngClass]="{'ok': hasSpecial, 'ko': !hasSpecial}">
        <mat-icon>{{ hasSpecial ? 'check_circle' : 'cancel' }}</mat-icon>
        Un caractère spécial de cette liste : (&#64; $ ! % * ? &)
      </li>
    </ul>
    <div class="btn">
      <button mat-flat-button [disabled]="resetPasswordForm.invalid">Réinitialiser</button>
    </div>
    <div class="success" *ngIf="!erreur && message">
      <mat-icon>check_circle</mat-icon>
        {{ message }}
      <div class="btn">
        <button mat-flat-button color="primary" (click)="navigateLogin()">
          Retour à la connexion
        </button>
      </div>
    </div>
    <div class="erreur" *ngIf="erreur">
      <mat-error>
        {{ message }}
      </mat-error>
    </div>
  </form>
</div>
