


<div *ngIf="inputGestion !== undefined">
    <table>
        <tr>
            <td colspan="2">
                Documents planificateurs : 
            </td>
        </tr>

        <tr>
            <section>---</section>
        </tr>

        <tr>
            <td colspan="2">
                <section>---Tableau à venir---</section>
            </td>
        </tr>

        <tr>
            <section>---</section>
        </tr>

        <tr>
            <td colspan="2">
                Agriculteurs/trices sous contrat ou convention : 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <section>---Tableau à venir---</section>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                Surfaces en libre évolution : 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <section>---Tableau à venir---</section>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                Conservateur/trice(s) bénévoles : 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <section>---Tableau à venir---</section>
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                Pourcentage estimé du site dont la gestion est assurée : {{inputGestion.pourc_gere}}%
            </td>
        </tr>

      </table>
</div>

