.green-button {
  color: #4caf50 !important; // Vert Material
  
  &:hover {
    background-color: rgba(76, 175, 80, 0.1);
  }
}

.groups-table {
  width: 80% !important;
  max-width: 1200px;
  margin: 0 auto;
}
