@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.site-detail {
  margin: 0px 50px 50px 29px;
}

//groupe d'onglets
.top-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
mat-tab {
  width: 100%;
}

.container-btn-h {
  display: flex;
  @include align(center, center);
  margin-bottom: 20px;
  .btn {
    @include btn(white, $couleur-flore, white, $couleur-faune);
  }
}
.container-btn-b {
  display: flex;
  @include align(center, center);
  margin: 20px 50px;
  .btn {
    @include btn(white, $couleur-flore, white, $couleur-faune);
  }
}

.mat-mdc-tab-group {
  @include mat-tabs-theme($couleur-faune);
}

//RESPONSIVE
@media (max-width: $tablette) {
  .site-detail {
    margin: 0px 5px 25px 5px;
  }
  .mobile {
    .bloc1 {
      display: flex;
      width: 100%;
      mat-tab-group {
        width: 100%;
      }
    }
  }
}

