@import "../../../../../styles/mixins.scss";
@import "../../../../../styles/variables.scss";

.conteneur-type-operation {
  display: flex;
  width: 100%;
  // height: auto;
  min-height: 101%;
  // min-height: 120vh;
  flex-grow: 1;
  column-gap: 20px;
}

.type-operation {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline-start : 20px;
  padding-inline-end: 20px;
  @include bandeau($type-operation);
  color: rgb(78, 78, 78);
}

.row-programmes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 8px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 colonnes, adapte à ton besoin
  gap: 16px 32px; // espace vertical/horizontal entre cases
  align-items: center;
}

.checkbox-grid-animaux {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 colonnes, adapte selon le nombre d’animaux
  gap: 16px 32px;
  align-items: center;
}

.file-upload-container {
    margin: 20px 0;
    
    label {
      display: block;
      margin-bottom: 8px;
      color: rgba(0, 0, 0, 0.87);
    }
  
    input[type="file"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

}

.operation-info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  margin-top: 20px;
}


.cat_txv_active {
  display: flex;
  align-items: center;
  margin-top: 10px;

  // color: rgb(1, 90, 1);
  @include Typo($p16, $gras, rgb(1, 90, 1));
}

.form-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  mat-form-field {
    min-width: 80px;
    max-width: 100%;
  }

  .small-width {
    width: 230px;
    min-width: 220px;
    max-width: 280px;
  }
  .medium-width {
    width: 300px;
    min-width: 280px;
    max-width: 330px;
  }
  .large-width {
    width: 200px;
    min-width: 120px;
    max-width: 300px;
  }
}

.form-textarea {
  display: flex;
  flex-direction: column;
  gap: 16px;

  mat-form-field {
    width: 100%;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .desc-haut {
    height: 160px;
    min-height: 160px;
    max-height: 300px;
  }
  .remarque-haut {
    height: 100px;
    min-height: 100px;
    max-height: 200px;
  }
}

.cat_txv_inactive {
  display: flex;
  align-items: center;
  margin-top: 10px;

  color: grey;
}

// Pour le bouton de suppression
.suppression {
  @include suppression-btn();
}

.nav-buttons {
  @include nav-buttons();
}
