<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="operationForm">
    <form [formGroup]="operationForm">
      <ng-template matStepLabel>Step 1</ng-template>
      <div>
        <mat-form-field>
          <mat-label>UUID Operation</mat-label>
          <input matInput formControlName="uuid_ope">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ref UUID Project</mat-label>
          <input matInput formControlName="ref_uuid_proj">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Code</mat-label>
          <input matInput formControlName="code">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Titre</mat-label>
          <input matInput formControlName="titre">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="operationForm">
    <form [formGroup]="operationForm">
      <ng-template matStepLabel>Step 2</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Inscrit PDG</mat-label>
          <input matInput formControlName="inscrit_pdg">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rmq PDG</mat-label>
          <input matInput formControlName="rmq_pdg">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Interv ZH</mat-label>
          <input matInput formControlName="interv_zh">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="operationForm">
    <form [formGroup]="operationForm">
      <ng-template matStepLabel>Step 3</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Surface</mat-label>
          <input matInput formControlName="surf">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Lin</mat-label>
          <input matInput formControlName="lin">
        </mat-form-field>
        <mat-form-field>
          <mat-label>App Fourr</mat-label>
          <input matInput formControlName="app_fourr">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Pression Moy</mat-label>
          <input matInput formControlName="pression_moy">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="operationForm">
    <form [formGroup]="operationForm">
      <ng-template matStepLabel>Step 4</ng-template>
      <div>
        <mat-form-field>
          <mat-label>UGB Moy</mat-label>
          <input matInput formControlName="ugb_moy">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nbjours</mat-label>
          <input matInput formControlName="nbjours">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Charge Moy</mat-label>
          <input matInput formControlName="charge_moy">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Charge Inst</mat-label>
          <input matInput formControlName="charge_inst">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="operationForm">
    <form [formGroup]="operationForm">
      <ng-template matStepLabel>Step 5</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Remarque</mat-label>
          <input matInput formControlName="remarque">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Validite</mat-label>
          <input matInput formControlName="validite">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Action</mat-label>
          <input matInput formControlName="action">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Objectif</mat-label>
          <input matInput formControlName="objectif">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="operationForm">
    <form [formGroup]="operationForm">
      <ng-template matStepLabel>Step 6</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Typ Intervention</mat-label>
          <input matInput formControlName="typ_intervention">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date Debut</mat-label>
          <input matInput formControlName="date_debut" type="date">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date Fin</mat-label>
          <input matInput formControlName="date_fin" type="date">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date Approx</mat-label>
          <input matInput formControlName="date_approx">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="operationForm">
    <form [formGroup]="operationForm">
      <ng-template matStepLabel>Step 7</ng-template>
      <div>
        <mat-form-field>
          <mat-label>Ben Participants</mat-label>
          <input matInput formControlName="ben_participants">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Ben Heures</mat-label>
          <input matInput formControlName="ben_heures">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>