<!-- Il y a 2 MODES d'affichage de ce composant -->
<!-- 1 On liste les opérations existantes - grace a l'appel au backend sur les operations lite -->
<!-- 2 On ajoute ou edite une opération existante -->
<!-- this.form est généré vide OU this.form est rempli l'opération -->

Variable (Input de projet) projetEditMode: {{ projetEditMode }}<br>
Variable (operation) isEditOperation: {{ isEditOperation }}<br>
Variable (operation) isAddOperation: {{ isAddOperation }}<br>

<!-- Utilisation du template buttons pour ajouter une opération -->
<app-form-buttons
  *ngIf="!projetEditMode"
  icone="add" 
  [isEditActive]="isEditOperation" 
  [isAddActive]="isAddOperation" 
  [isFormValid]="isFormValid" 
  (toggleAction)="toggleEditOperation($event)"
  (makeOperationForm)="makeOperationForm($event)"
  (onSubmit)="onSubmit($event)" 
></app-form-buttons>

<!-- Permet d'appeller un template -->
<ng-container *ngIf="!isEditOperation && !isAddOperation; then listOperations; else addEditOperation"></ng-container>

<!-- MODE 1 -->
<ng-template #listOperations> 

  Ajouter une opération (ci dessus)

  <div>
    <!-- Si le booleen !isEditOperation && !isAddOperation sont false, on montre la liste des opérations  -->

    Tableau des opérations. Si pâturé (1 opération par parc).
    <ng-container *ngIf="operations !== undefined && operations.length > 0; then table else noOperations"></ng-container>

    <ng-template #table>
      <div>
        Nb opérations : {{ operations.length }}<br>
        <mat-table [dataSource]="dataSourceOperations" class="mat-elevation-z8">
          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="titre">
            <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.titre }} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="surf">
            <mat-header-cell *matHeaderCellDef> Surface </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.surf }} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="date_debut">
            <mat-header-cell *matHeaderCellDef> Date début </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.date_debut }} </mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumnsOperations"></mat-header-row>
          <!-- Ouvrir la fenetre de dialogue d'une opération -->
          <mat-row *matRowDef="let operation; columns: displayedColumnsOperations;" (click)="this.makeOperationForm({ operation })"></mat-row>
        </mat-table>
      </div>
    </ng-template>

    <ng-template #noOperations>
        Il n'y a pas d'opérations sur ce site.
    </ng-template>

  </div>
</ng-template>

<!-- MODE 2 -->
<ng-template #addEditOperation>

  <!-- (nom_dans_composant)='mathode à utiliser depuis le composant du bouton' -->

  <mat-horizontal-stepper [linear]="linearMode">

      <mat-step [stepControl]="form!">
      <form [formGroup]="form!">
        <ng-template matStepLabel>Step 1</ng-template>
        <div>
          <mat-form-field>
            <mat-label>UUID Operation</mat-label>
            <input matInput formControlName="uuid_ope">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ref UUID Project</mat-label>
            <input matInput formControlName="ref_uuid_proj">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput formControlName="code">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Titre</mat-label>
            <input matInput formControlName="titre">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form!">
      <form [formGroup]="form!">
        <ng-template matStepLabel>Step 2</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Inscrit PDG</mat-label>
            <input matInput formControlName="inscrit_pdg">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Rmq PDG</mat-label>
            <input matInput formControlName="rmq_pdg">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Interv ZH</mat-label>
            <input matInput formControlName="interv_zh">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form!">
      <form [formGroup]="form!">
        <ng-template matStepLabel>Step 3</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Surface</mat-label>
            <input matInput formControlName="surf">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Lin</mat-label>
            <input matInput formControlName="lin">
          </mat-form-field>
          <mat-form-field>
            <mat-label>App Fourr</mat-label>
            <input matInput formControlName="app_fourr">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Pression Moy</mat-label>
            <input matInput formControlName="pression_moy">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form!">
      <form [formGroup]="form!">
        <ng-template matStepLabel>Step 4</ng-template>
        <div>
          <mat-form-field>
            <mat-label>UGB Moy</mat-label>
            <input matInput formControlName="ugb_moy">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nbjours</mat-label>
            <input matInput formControlName="nbjours">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Charge Moy</mat-label>
            <input matInput formControlName="charge_moy">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Charge Inst</mat-label>
            <input matInput formControlName="charge_inst">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form!">
      <form [formGroup]="form!">
        <ng-template matStepLabel>Step 5</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Remarque</mat-label>
            <input matInput formControlName="remarque">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Validite</mat-label>
            <input matInput formControlName="validite">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Action</mat-label>
            <input matInput formControlName="action">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Objectif</mat-label>
            <input matInput formControlName="objectif">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form!">
      <form [formGroup]="form!">
        <ng-template matStepLabel>Step 6</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Typ Intervention</mat-label>
            <input matInput formControlName="typ_intervention">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date Debut</mat-label>
            <input matInput formControlName="date_debut" type="date">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date Fin</mat-label>
            <input matInput formControlName="date_fin" type="date">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Date Approx</mat-label>
            <input matInput formControlName="date_approx">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="form!">
      <form [formGroup]="form!">
        <ng-template matStepLabel>Step 7</ng-template>
        <div>
          <mat-form-field>
            <mat-label>Ben Participants</mat-label>
            <input matInput formControlName="ben_participants">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ben Heures</mat-label>
            <input matInput formControlName="ben_heures">
          </mat-form-field>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="onSubmit('edit')">Submit</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</ng-template>
