<!-- Il y a 2 MODES d'affichage de ce composant -->
<!-- 1 On liste les opérations existantes - grace a l'appel au backend sur les operations lite -->
<!-- 2 On ajoute ou edite une opération existante -->
<!-- this.form est généré vide OU this.form est rempli l'opération -->

<!-- Variable (Input depuis projet) projetEditMode: {{ projetEditMode }}<br>
Variable (operation) isEditOperation: {{ isEditOperation }}<br>
Variable (operation) isAddOperation: {{ isAddOperation }}<br>
Variable (operation) form: {{ form }}<br>
<div *ngIf="form">
  Variable (operation) form.get('uuid_ope'): {{ form.get('uuid_ope')?.value == undefined ? "Valeur undefined" : form.get('uuid_ope')?.value }}<br>
</div> -->

<!-- Utilisation du template buttons pour ajouter une opération -->
<ng-template #buttons>
  <app-form-buttons
    *ngIf="!projetEditMode"
    icone="add" 
    [theme]="'gerer'"
    [isEditActive]="isEditOperation" 
    [isAddActive]="isAddOperation"
    [isFormValid]="isFormValid"
    (toggleAction)="toggleEditOperation($event)"
    (makeOperationForm)="makeForm($event)"
    (onSubmit)="onSubmit($event)" 
  ></app-form-buttons>
</ng-template>


<!-- Permet d'inclure le template en haut du composant -->
<ng-container *ngTemplateOutlet="buttons"></ng-container>

<!-- Permet d'appeller un template -->
<ng-container *ngIf="!isEditOperation && !isAddOperation; then listOperations; else addEditOperation"></ng-container>

<!-- MODE 1 -->
<ng-template #listOperations> 

  <div>
    <!-- Si le booleen !isEditOperation && !isAddOperation sont false, on montre la liste des opérations  -->

    <ng-container *ngIf="operations !== undefined && operations.length > 0; then table else noOperations"></ng-container>

    <ng-template #table>
      <div>
        Nb opérations : {{ operations.length }}<br>
        <mat-table [dataSource]="dataSourceOperations" class="mat-elevation-z8" #matTable *ngIf="!pro_webapp">

            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef> Code </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.code }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="titre">
              <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.titre }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="surf">
              <mat-header-cell *matHeaderCellDef> Surface </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.surf }} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="date_debut">
              <mat-header-cell *matHeaderCellDef> Date début </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.date_debut }} </mat-cell>
            </ng-container>        
          
          <mat-header-row *matHeaderRowDef="displayedColumnsOperations"></mat-header-row>
          <!-- Ouvrir la fenetre de dialogue d'une opération -->
          <mat-row *matRowDef="let operation; columns: displayedColumnsOperations;" (click)="this.makeForm({ operation })"></mat-row>
        </mat-table>
        
        <mat-table [dataSource]="dataSourceOperations" class="mat-elevation-z8" #matTable *ngIf="pro_webapp">

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.type }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nom_mo">
              <mat-header-cell *matHeaderCellDef> Nom maître d'oeuvre </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.nom_mo }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantite">
              <mat-header-cell *matHeaderCellDef> Quantité </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.quantite }} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="unite_str">
              <mat-header-cell *matHeaderCellDef> Unité </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.unite_str }} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="date_debut_str">
              <mat-header-cell *matHeaderCellDef> Date début </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{ element.date_debut_str }} </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsOperationsWebapp"></mat-header-row>
          <!-- Ouvrir la fenetre de dialogue d'une opération -->
          <mat-row *matRowDef="let operation; columns: displayedColumnsOperationsWebapp;" (click)="this.makeForm({ operation })"></mat-row>
        </mat-table>
      </div>
    </ng-template>

    <ng-template #noOperations>
        Il n'y a pas encore d'opération(s) sur ce projet.
    </ng-template>

  </div>
</ng-template>

<!-- MODE 2 -->
<ng-template #addEditOperation>

  <!-- (nom_dans_composant)='mathode à utiliser depuis le composant du bouton' -->

  <!-- Réglage de l'animation du stepper -->
  <div class="example-input-wrapper">
    <!-- <label for="duration">Animation duration:</label> -->
    <input hidden id="duration" value="300" type="number" min="0" step="100" #duration>
  </div>

  <mat-stepper labelPosition="bottom" 
                      [linear]="!operation"
                      #stepper 
                      [animationDuration]="duration.value" 
                      class="margin-stepper"
                      *ngIf="form">

    <mat-step [stepControl]="step1Form">
      <form [formGroup]="step1Form">
        <ng-template matStepLabel>Type de l'opération</ng-template>
        <div class="form-fields">
          <div>  
            <!-- <mat-slide-toggle
                  formControlName="validite"
                  class="toggle"
                  [checked]="step1Form.get('validite')?.value || false">

                  Validité de l'opération

            </mat-slide-toggle> -->
          </div>


          <!-- <mat-form-field>
            <mat-label>Ref UUID Operation</mat-label>
            <input matInput formControlName="uuid_ope" readonly>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ref UUID Project</mat-label>
            <input matInput formControlName="ref_uuid_proj" readonly>
          </mat-form-field> -->

          <div *ngIf="pro_webapp" matTooltip="Enregistré dans l'objectif du projet">
            Objectif opérationnel {{ objectif_ope ? objectif_ope : 'inconnu' }}
          </div>

          <!-- <mat-form-field class="small-width">
            <mat-label>Objectif opérationnel</mat-label>
            <mat-select formControlName="obj_ope">
              @for (type of typeObjectifOpe; track type) {
                <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
              }
            </mat-select>
          </mat-form-field> -->

          <mat-form-field class="medium-width">
            <mat-label>Type d'opération 1</mat-label>
            <mat-select formControlName="action">
              <mat-option *ngFor="let type of operationTypesFamilles" [value]="type.cd_type">
                {{ type.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Differents types d'opérations selon la famille sélectionnée -->
          <ng-container *ngIf="selectedOperationFamille != undefined">
            <mat-form-field *ngIf ="step1Form.value.action == '027_TRAV_MECA_V2'" class="small-width">
              <mat-label>Type d'opération 2</mat-label>
              <mat-select [(ngModel)]="selectedOperationType" formControlName="action_2">
                @for (type of operationTypesMeca; track type) {
                  <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf ="step1Form.value.action == '028_TRAV_PAT_V2'" class="small-width">
              <mat-label>Type d'opération 2</mat-label>
              <mat-select [(ngModel)]="selectedOperationType" formControlName="action_2">
                @for (type of operationTypesPat; track type) {
                  <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf ="step1Form.value.action == '008_TRAV_AMEN_V2'" class="small-width">
              <mat-label>Type d'opération 2</mat-label>
              <mat-select [(ngModel)]="selectedOperationType" formControlName="action_2">
                @for (type of operationTypesAme; track type) {
                  <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf ="step1Form.value.action == '005_TRAV_HYDRO_V2'" class="small-width">
              <mat-label>Type d'opération 2</mat-label>
              <mat-select [(ngModel)]="selectedOperationType" formControlName="action_2">
                @for (type of operationTypesHydro; track type) {
                  <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf ="step1Form.value.action == '200_TRAV_DECH_V2'" class="small-width">
              <mat-label>Type d'opération 2</mat-label>
              <mat-select [(ngModel)]="selectedOperationType" formControlName="action_2">
                @for (type of operationTypesDech; track type) {
                  <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </ng-container>
        </div>

        <div class="form-textarea">
          <mat-form-field matTooltip="Décrire/Détailler l'opération en deux ou trois phrases.">
            <mat-label>Description (détails)</mat-label>
            <textarea matInput formControlName="description" class="desc-haut" placeholder="Exemple :
            ● Fauche avec exportation des rémanents et mise en ballot
            ● Débroussaillage de la végétation ligneuse avec mise en tas des rémanents en lisière."></textarea>
            <mat-icon matSuffix (click)="step1Form.get('description')?.setValue('')">clear</mat-icon>
            <mat-error *ngIf="step1Form.get('description')?.hasError('required')">
              Ce champ est obligatoire.
            </mat-error>
            <mat-error *ngIf="step1Form.get('description')?.hasError('minWords')">
              La description doit contenir au moins 2 mots.
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Remarques particulières</mat-label>
            <textarea matInput formControlName="remarque" class="remarque-haut" placeholder="Exemple :
            ● En raison des conditions hydriques exceptionnelles de cette année, la fauche a eu lieu tardivement en saison
            ● Dégradation du site par des engins sylvicoles."></textarea>
            <mat-icon matSuffix (click)="step1Form.get('remarque')?.setValue('')">clear</mat-icon>
            <mat-error *ngIf="step1Form.get('remarque')?.hasError('required')">
              Ce champ est obligatoire.
            </mat-error>
            <mat-error *ngIf="step1Form.get('remarque')?.hasError('minWords')">
              Vos remarques doivent contenir au moins 2 mots.
            </mat-error>
          </mat-form-field>
        </div>
        <!-- <div>
          <button mat-button matStepperNext>Suivant</button>
        </div> -->
      </form>
    </mat-step>

    <mat-step [stepControl]="step2Form">
      <form [formGroup]="step2Form">
        <ng-template matStepLabel>Type de l'intervention</ng-template>
        <div class="form-fields">
          <mat-form-field class="medium-width">
            <mat-label>Maitre d'oeuvre</mat-label>
            <mat-select formControlName="typ_intervention">
              <mat-option *ngFor="let type of maitreOeuvreTypes" [value]="type.cd_type">
                {{ type.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="medium-width">
            <mat-label>Nom du maitre d'oeuvre</mat-label>
            <input matInput formControlName="nom_mo">
          </mat-form-field>
        </div>
        
        <div class="form-fields">

          <mat-form-field class="medium-width">
            <mat-label>Cadre de l'intervention</mat-label>
            <mat-select formControlName="cadre_intervention" (selectionChange)="cleanFields($event.value, 'cadre_intervention')">
              <mat-option *ngFor="let type of cadreInterventionTypes" [value]="type.cd_type">
                {{ type.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="selectedCadreInterventionType !== undefined || step2Form?.get('cadre_intervention')?.value === 12">
            <mat-label>Détail du cadre</mat-label>
            <mat-select formControlName="cadre_intervention_detail">
              @for (type of chantierNatureTypes; track type) {
              <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="selectedCadreInterventionType !== undefined || step2Form?.get('cadre_intervention')?.value === 12">
            <mat-label>Nb de participants</mat-label>
            <input matInput type="number" formControlName="ben_participants">
          </mat-form-field>

          <mat-form-field *ngIf="selectedCadreInterventionType !== undefined || step2Form?.get('cadre_intervention')?.value === 12">
            <mat-label>
              Durée du chantier (en h)
              <mat-icon matTooltip="Nombre entier uniquement" class="info-icon">info</mat-icon>
            </mat-label>
            <input matInput type="number" formControlName="ben_heures" step="1" min="0">
          </mat-form-field>

          <mat-form-field *ngIf="selectedCadreInterventionType !== undefined || step2Form?.get('cadre_intervention')?.value === 12">
            <mat-label>Total heures-participants</mat-label>
            <input matInput 
                   type="number" 
                   [value]="(step2Form.get('ben_participants')?.value || 0) * (step2Form.get('ben_heures')?.value || 0)" 
                   readonly>
          </mat-form-field>

        </div>

        <!-- <div class="form-fields">
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext>Suivant</button>
        </div> -->

      </form>
    </mat-step>

    <mat-step state="euro"  [stepControl]="step3Form">
      <form [formGroup]="step3Form">
        <ng-template matStepLabel>Financement</ng-template>

        <mat-error *ngIf="!listeOpeFinanceurs.valid">
          Vous ne pouvez pas sélectionner plus de 3 programmes.
        </mat-error>
        
        <div formArrayName="liste_ope_financeurs"
            *ngIf="listeOpeFinanceurs && listeOpeFinanceurs.length > 0"
            class="checkbox-grid">
          <div *ngFor="let programme of listeOpeFinanceurs.controls; let i = index"
              [formGroupName]="i">
            <mat-checkbox formControlName="checked">
              {{ programme.get('lib_libelle')?.value }}
            </mat-checkbox>
          </div>
        </div>

        <mat-error *ngIf="!listeOpeFinanceurs.valid">
          Vous ne pouvez pas sélectionner plus de 3 financeurs.
        </mat-error>

        <div>
          <mat-form-field>
            <mat-label>Description si autre</mat-label>
            <input matInput formControlName="financeur_description">
          </mat-form-field>
        </div>

        <!-- <div class="nav-buttons">
              <button mat-button matStepperPrevious>Précédent</button>
              <button mat-button matStepperNext>Suivant</button>
        </div> -->
      </form>
    </mat-step>

    <mat-step [stepControl]="step4Form">
      <form [formGroup]="step4Form">
        <ng-template matStepLabel>Informations sur l'opération</ng-template>
        <div class="form-fields">

          <!-- plage de dates en un seul champ en lecture -->
           <!-- <mat-form-field>
            <mat-label>Période de travaux</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Date début" [value]="step1Form.get('pro_debut')?.value" readonly>
              <input matEndDate placeholder="Date fin" [value]="step1Form.get('pro_fin')?.value" readonly>
            </mat-date-range-input>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field> -->
          
          <mat-form-field>
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="date_debut">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Date de fin</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="date_fin">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-fields">
          <!-- Nombre -- Si surface, alors aller lire dans la surface du polygone -->
          <mat-form-field *ngIf="getFamilleLibelle(step1Form.get('unite')?.value, unitesTypes) !== 'Hectare'">
            <mat-label>Quantité</mat-label>
            <input matInput type="number" formControlName="quantite">
          </mat-form-field>
          <mat-form-field *ngIf="getFamilleLibelle(step1Form.get('unite')?.value, unitesTypes) === 'Hectare'">
            <mat-label>Surface à déterminer</mat-label>
            <input matInput disabled>
          </mat-form-field>

          <!-- Unité -->
          <mat-form-field>
            <mat-label>Unités</mat-label>
            <mat-select formControlName="unite">
              <mat-option *ngFor="let type of unitesTypes" [value]="type.cd_type">
                {{ type.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Affichage des champs en fonction du type d'opération -->
        <ng-container *ngIf="getFamilleLibelle(step1Form.get('action')?.value, operationTypesFamilles) === 'Traitement de la végétation'; then traitementVegetation"></ng-container>
        <ng-container *ngIf="getFamilleLibelle(step1Form.get('action')?.value, operationTypesFamilles) === 'Pâturage et opérations associées'; then paturageOperationsAssociees"></ng-container>
        <ng-container *ngIf="getFamilleLibelle(step1Form.get('action')?.value, operationTypesFamilles) === 'Aménagement de site'; then amenagementDeSite"></ng-container>
        <ng-container *ngIf="getFamilleLibelle(step1Form.get('action')?.value, operationTypesFamilles) === 'Gestion hydraulique'; then gestionHydraulique"></ng-container>
        <ng-container *ngIf="getFamilleLibelle(step1Form.get('action')?.value, operationTypesFamilles) === 'Gestion des déchets'; then gestionDechets"></ng-container>
        
        <!-- <div class="nav-buttons">
              <button mat-button matStepperPrevious>Précédent</button>
              <button mat-button matStepperNext>Suivant</button>
        </div> -->
      </form>
    </mat-step>

    <mat-step [stepControl]="form!" *ngIf="operation !== undefined && operation !== null">
      <ng-template matStepLabel>Données spatiales</ng-template>

      <!-- Quand une localisation existe -->
      <div *ngIf="operation.localisations !== undefined && operation.localisations.length > 0">

        <!-- <div *ngFor="let localisation of operation.localisations">
          <div>
            {{ localisation.geojson.geometry }} elements de type {{ localisation.geojson.type }}
          </div>
          <div>
            <span>Type : {{ localisation.type }}</span>
            <span>UUID : {{ localisation.loc_date }}</span>
          </div>
        </div> -->

        <div>
          <app-map mapName='Opération' [localisation_site]="localisation_site" [localisations_operations]="operation.localisations"></app-map>
        </div>
        <div class="suppression">
          <button mat-button (click)="deleteItemConfirm('localisation')">Supprimer la localisation</button>
        </div>
      </div>

      <div *ngIf="!operation.localisations || operation.localisations.length === 0">
        Il n'y a pas encore de localisation enregistrée pour cette opération. 
      </div>
      
      
      <div *ngIf="isAddOperation">
        Merci de terminer cette saisie de nouvel objectif avant d'ajouter une emprise de travaux.
      </div>

      <!-- Pour uploader une localisation -->
      <div *ngIf="isEditOperation && operation.localisations === undefined || operation.localisations !== undefined && operation.localisations.length == 0">
        <button mat-button (click)="downloadShapefileExample('polygone')">Télécharger le modèle de fichier shapefile de type POLYGONE si necessaire</button>
        <button mat-button (click)="downloadShapefileExample('ligne')">Télécharger le modèle de fichier shapefile de type LIGNE si necessaire</button>
        <button mat-button (click)="downloadShapefileExample('point')">Télécharger le modèle de fichier shapefile de type POINT si necessaire</button>
        <form [formGroup]="shapeForm!">
          <div class="file-upload-container">
            <label for="shapefile">Fichier Shapefile (ZIP)</label>
            <input type="file"
                id="shapefile"
                (change)="onFileSelected($event)"
                accept=".zip"
                #fileInput>
            <!-- <select formControlName="type_geometry" class="geometry-select">
              <option value="Point">Point</option>
              <option value="LineString">Ligne</option>
              <option value="Polygon" selected>Polygone</option>
            </select> -->
          </div>
          <input type="hidden" formControlName="uuid_ope">
          <button mat-button 
            (click)="handleShapefileSubmission()"
            [disabled]="!shapeForm?.get('shapefile')?.value">
            <!-- Désactivé si le champ shapefile du formulaire est vide -->
            Envoyer l'emprise
          </button>
        </form>
      </div>

      <!-- <div class="nav-buttons">
              <button mat-button matStepperPrevious>Précédent</button>
              <button mat-button (click)="stepper.selectedIndex = 0">Retour au début (étape 1)</button>
      </div> -->
    </mat-step>

    <!-- <mat-step [stepControl]="step5Form">
      <form [formGroup]="step5Form">
        <ng-template matStepLabel>Champs non utilisés</ng-template>
        <div class="form-fields">

          <mat-form-field>
            <mat-label>Inscrit PDG</mat-label>
            <input matInput formControlName="inscrit_pdg">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Rmq PDG</mat-label>
            <input matInput formControlName="rmq_pdg">
          </mat-form-field>
          
          <mat-form-field>
            <mat-label>Interv ZH</mat-label>
            <input matInput formControlName="interv_zh">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput formControlName="code">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Titre</mat-label>
            <input matInput formControlName="titre">
          </mat-form-field>
        </div>

        <div class="form-fields">
          <mat-form-field>
            <mat-label>Surface (ha)</mat-label>
            <input matInput formControlName="surf">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Linéaire</mat-label>
            <input matInput formControlName="lin">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Apport de fourrage</mat-label>
            <input matInput formControlName="app_fourr">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Pression Moyenne</mat-label>
            <input matInput formControlName="pression_moy">
          </mat-form-field>
        </div>

        <div class="form-fields">
          <mat-form-field>
            <mat-label>UGB Moy</mat-label>
            <input matInput formControlName="ugb_moy">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nbjours</mat-label>
            <input matInput formControlName="nbjours">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Charge Moy</mat-label>
            <input matInput formControlName="charge_moy">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Charge Inst</mat-label>
            <input matInput formControlName="charge_inst">
          </mat-form-field>
        </div>
        <div class="form-fields">
          <mat-form-field>
            <mat-label>Date Approx</mat-label>
            <input matInput formControlName="date_approx">
          </mat-form-field>
        </div>
        <div class="form-fields">
          <mat-form-field>
            <mat-label>Ben Participants</mat-label>
            <input matInput formControlName="ben_participants">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Ben Heures</mat-label>
            <input matInput formControlName="ben_heures">
          </mat-form-field>
        </div>
        
        <div class="nav-buttons">
              <button mat-button matStepperPrevious>Précédent</button>
              <button mat-button (click)="stepper.selectedIndex = 0">Retour au début (étape 1)</button>
        </div>
      </form>
    </mat-step> -->

  </mat-stepper> 
  
  <div *ngIf="operation !== undefined && operation !== null">

    <div class="bottom">
      <!-- Permet d'inclure le template en bas du composant -->
      <ng-container *ngTemplateOutlet="buttons"></ng-container>

      <div class="duplication">
        <button mat-button (click)="duplicateOperationConfirm()">Dupliquer l'opération</button>
      </div>

      <div class="suppression">
        <button mat-button (click)="deleteItemConfirm('operation')">Supprimer l'opération</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #traitementVegetation>
  <div [formGroup]="step4Form" class="conteneur-type-operation">
    <!-- Bandeau -->
    <div class="type-operation">{{ getFamilleLibelle(step1Form.get('action')?.value, this.operationTypesFamilles) }}</div>

    <!-- Contenu -->
    <div>
      <!-- Pour chaque element de la liste des types d'opération -->
      <div *ngFor="let type of operationTypesMeca" class="operation-info">
        
        <!-- On montre le libellé de chaque type. La classe cat_txv_active mets le libellé actif en évidence -->
        <div [ngClass]="type.cd_type === step1Form.get('action_2')?.value ? 'cat_txv_active' : 'cat_txv_inactive'">
          <!-- {{ type.libelle }} - {{ type.cd_type }} - {{ step1Form.get('action_2')?.value }} -->
          {{ type.libelle }}
        </div>

        <!-- Si la clé bouclée est égale à la clé du déroulant 'action_2' ET que c'est 'fauche' (204) -->
        <div *ngIf="
          type.cd_type === step1Form.get('action_2')?.value && 
          step1Form.get('action_2')?.value === '204'">
          <mat-slide-toggle
            formControlName="exportation_fauche"
            class="toggle"
            [checked]="step1Form.get('exportation_fauche')?.value || false"
            [disabled]="false">

            Exportation de la fauche
          </mat-slide-toggle>
          <!-- <mat-checkbox formControlName="exportation_fauche">
            Exportation de la fauche
          </mat-checkbox> -->
          <mat-form-field>
            <mat-label>Total exporté (kg)</mat-label>
            <input matInput type="number" formControlName="total_exporte_fauche">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Productivité (kg/ha)</mat-label>
            <input matInput type="number" formControlName="productivite_fauche">
          </mat-form-field>
        </div>

        <!-- S'affiche uniquement dans le cas contraire à celle ci dessus -->
        <div *ngIf="type.cd_type === step1Form.get('action_2')?.value && step1Form.get('action_2')?.value != '204'">
          <i>Pas d'informations supplémentaires à renseigner ici pour cette catégorie. Utilisez le champ description si vous avez des remarques.</i>
        </div>

      </div>

    </div>

  </div>
</ng-template>

<ng-template #paturageOperationsAssociees>
  <div [formGroup]="step4Form" class="conteneur-type-operation">
    <!-- Bandeau -->
    <div class="type-operation">{{ getFamilleLibelle(step1Form.get('action')?.value, this.operationTypesFamilles) }}</div>
    
    <!-- Contenu -->
    <div>
      <!-- Pour chaque element de la liste des types d'opération -->
      <div *ngFor="let type of operationTypesPat" class="operation-info">
        <!-- On montre le libellé de chaque type -->
        <div [ngClass]="type.cd_type === step1Form.get('action_2')?.value ? 'cat_txv_active' : 'cat_txv_inactive'">
          {{ type.libelle }}
        </div>

        <div *ngIf="
          type.cd_type === step1Form.get('action_2')?.value && 
            getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesPat) === 'Pâturage'">
          <!-- On montre les cases à cocher des animaux -->
          <div formArrayName="liste_ope_animaux_paturage"
              *ngIf="(listeOpeAnimaux?.controls?.length ?? 0) > 0"
              class="checkbox-grid-animaux">
            <div *ngFor="let animal of listeOpeAnimaux.controls; let i = index" [formGroupName]="i">
              <mat-checkbox formControlName="checked">
                {{ animal.get('lib_libelle')?.value }}
              </mat-checkbox>
            </div>
          </div>

          <div formArrayName="liste_ope_animaux_paturage" *ngIf="(listeOpeAnimaux?.controls?.length ?? 0) == 0">
            La liste des animaux est vide. C'est a dire que le getter listeOpeAnimaux est undefined ou n'a pas de controls.
          </div>
        
          <div class="pat-fields">
            <mat-form-field>
              <mat-label>N°/Nom du parc</mat-label>
              <input matInput type="text" formControlName="nom_parc">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Effectif</mat-label>
              <input matInput type="number" formControlName="effectif_paturage">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Nombre de jour</mat-label>
              <input matInput type="number" formControlName="nb_jours_paturage">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Chargement (UGB/ha)</mat-label>
              <input matInput type="number" formControlName="chargement_paturage">
              <!-- <mat-error *ngIf="step4Form.get('chargement_paturage')?.hasError('integer')">
                La valeur doit être un nombre entier.
              </mat-error> -->
            </mat-form-field>
          </div>

          <div class="pat-fields">
            <mat-form-field>
              <mat-label>Taux d'abroutissement moyen</mat-label>
              <mat-select formControlName="abroutissement_paturage">
                <mat-option *ngFor="let type of 
                  [{cd_type: 1, libelle: '1'}, 
                  {cd_type: 2, libelle: '2'},
                  {cd_type: 3, libelle: '3'},
                  {cd_type: 4, libelle: '4'},
                  {cd_type: 5, libelle: '5'},
                  {cd_type: 6, libelle: '6'}]" 
                  [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>
                Recouvrement en ligneux bas moyen
                <mat-icon matTooltip="Ligneux inférieurs à 1 mètre" class="info-icon">info</mat-icon>
              </mat-label>
              <mat-select formControlName="recouvrement_ligneux_paturage">
                <mat-option *ngFor="let type of 
                  [{cd_type: 1, libelle: '<10l'}, 
                  {cd_type: 2, libelle: '<10c'},
                  {cd_type: 3, libelle: '10-30'},
                  {cd_type: 4, libelle: '30-50'},
                  {cd_type: 5, libelle: '>50'}]" 
                  [value]="type.cd_type">
                  {{ type.libelle }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div *ngIf="
          type.cd_type === step1Form.get('action_2')?.value && 
          getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesPat) === 'Intervention sur clôtures'">
          <mat-form-field>
            <mat-label>Type d'intervention sur clôtures</mat-label>
            <mat-select formControlName="interv_cloture">
              <mat-option *ngFor="let type of 
                [{cd_type: 1, libelle: 'Installation de clôtures fixes'}, 
                {cd_type: 2, libelle: 'Retrait de clôtures fixes'},
                {cd_type: 3, libelle: 'Entretien de clôtures fixes'}]" 
                [value]="type.cd_type">
                {{ type.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- S'affiche uniquement dans le cas contraire à celle ci dessus -->
        <div 
          *ngIf="
            type.cd_type === step1Form.get('action_2')?.value && 
            getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesPat) != 'Pâturage' && 
            getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesPat) != 'Intervention sur clôtures'
          ">
          <i>Pas d'informations supplémentaires à renseigner ici pour cette catégorie. Utilisez le champ description si vous avez des remarques.</i>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #amenagementDeSite>
  <div [formGroup]="step4Form" class="conteneur-type-operation">
    <!-- Bandeau -->
    <div class="type-operation">{{ getFamilleLibelle(step1Form.get('action')?.value, this.operationTypesFamilles) }}</div>
    
    <!-- Contenu -->
    <div>
      <!-- Pour chaque element de la liste des types d'opération -->
      <div *ngFor="let type of operationTypesAme" class="operation-info">
        <!-- On montre le libellé de chaque type -->
        <div [ngClass]="type.cd_type === step1Form.get('action_2')?.value ? 'cat_txv_active' : 'cat_txv_inactive'">
          {{ type.libelle }}
        </div>

        <!-- S'affiche uniquement dans le cas contraire à celle ci dessus -->
        <div *ngIf="
            type.cd_type === step1Form.get('action_2')?.value
          ">
          <i>Pas d'informations supplémentaires à renseigner ici pour cette catégorie. Utilisez le champ description si vous avez des remarques.</i>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #gestionHydraulique>
  <div [formGroup]="step4Form" class="conteneur-type-operation">
    <!-- Bandeau -->
    <div class="type-operation">{{ getFamilleLibelle(step1Form.get('action')?.value, this.operationTypesFamilles) }}</div>

    <!-- Contenu -->
    <div>
      <!-- Pour chaque element de la liste des types d'opération -->
      <div *ngFor="let type of operationTypesHydro" class="operation-info">
        
        <!-- On montre le libellé de chaque type. La classe cat_txv_active mets le libellé actif en évidence -->
        <div [ngClass]="type.cd_type === step1Form.get('action_2')?.value ? 'cat_txv_active' : 'cat_txv_inactive'">
          <!-- {{ type.libelle }} - {{ type.cd_type }} - {{ step1Form.get('action_2')?.value }} -->
          {{ type.libelle }}
        </div>

        <!-- Si la clé bouclée est égale à la clé du déroulant 'action_2' ET que c'est 'fauche' (204) -->
        <div *ngIf="
          type.cd_type === step1Form.get('action_2')?.value && 
          getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesHydro) === 'Creusement'">
          <mat-form-field>
            <mat-label>Type d'intervention</mat-label>
            <mat-select formControlName="type_intervention_hydro">
              <mat-option *ngFor="let type of 
                [{cd_type: 1, libelle: 'Mare'}, 
                {cd_type: 2, libelle: 'Dépression'},
                {cd_type: 3, libelle: 'Fossé'}]" 
                [value]="type.cd_type">
                {{ type.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="
          type.cd_type === step1Form.get('action_2')?.value && 
          getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesHydro) === 'Intervention sur les berges'">
          <mat-form-field>
            <mat-label>Type d'intervention</mat-label>
            <mat-select formControlName="type_intervention_hydro">
              <mat-option *ngFor="let type of 
                [{cd_type: 4, libelle: 'Reprofilage de berges'}, 
                {cd_type: 5, libelle: 'Entretien de berges'}]"
                [value]="type.cd_type">
                {{ type.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="
          type.cd_type === step1Form.get('action_2')?.value && 
          getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesHydro) === &quot;Aménagement de plans d'eau&quot;">
          <mat-form-field>
            <mat-label>Type d'intervention</mat-label>
            <mat-select formControlName="type_intervention_hydro">
              <mat-option *ngFor="let type of 
                [{cd_type: 5, libelle: 'Vidange'}, 
                {cd_type: 6, libelle: 'îlot'},
                {cd_type: 7, libelle: 'Digues'}]" 
                [value]="type.cd_type">
                {{ type.libelle }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- S'affiche uniquement dans le cas contraire à celle ci dessus -->
        <div 
          *ngIf="
            type.cd_type === step1Form.get('action_2')?.value && 
            getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesHydro) != 'Creusement' && 
            getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesHydro) != 'Intervention sur les berges' && 
            getFamilleLibelle(step1Form.get('action_2')?.value, operationTypesHydro) != &quot;Aménagement de plans d'eau&quot;
          ">
          <i>Pas d'informations supplémentaires à renseigner ici pour cette catégorie. Utilisez le champ description si vous avez des remarques.</i>
        </div>

      </div>

    </div>

  </div>
</ng-template>

<ng-template #gestionDechets>
  <div [formGroup]="step4Form" class="conteneur-type-operation">
    <!-- Bandeau -->
    <div class="type-operation">{{ getFamilleLibelle(step1Form.get('action')?.value, this.operationTypesFamilles) }}</div>
    
    <!-- Contenu -->
    <div>
      <!-- Pour chaque element de la liste des types d'opération -->
      <div *ngFor="let type of operationTypesDech" class="operation-info">
        <!-- On montre le libellé de chaque type -->
        <div [ngClass]="type.cd_type === step1Form.get('action_2')?.value ? 'cat_txv_active' : 'cat_txv_inactive'">
          {{ type.libelle }}
        </div>

        <!-- S'affiche uniquement dans le cas contraire à celle ci dessus -->
        <div *ngIf="
            type.cd_type === step1Form.get('action_2')?.value
          ">
          <i>Pas d'informations supplémentaires à renseigner ici pour cette catégorie. Utilisez le champ description si vous avez des remarques.</i>
        </div>
      </div>
    </div>
  </div>
</ng-template>