


<div *ngIf="inputDetail !== undefined">
    <table>
        <tr>
            <td colspan="2">
                Description du site : {{inputDetail.description_site}}
            </td>
        </tr>

        <tr>
            <td>
                Site sensible : {{inputDetail.sensibilite}}
            </td>
            <td>
                Description sensibilité : {{inputDetail.remq_sensibilite}}
            </td>
        </tr>

        <tr>
            <td colspan="2">
                Site ouvert au public : {{inputDetail.typ_ouverture}}
            </td>
        </tr>

        <tr>
        
            <td>
                Aménagements : <br>
            -+--+-
            </td>
        </tr>

        <tr>
            <table>
                <td>
                    Lien CEN : <a href="{{inputDetail.url_cen}}">{{inputDetail.url_cen}}</a>
                </td>
                <td>
                    Lien MNHN : <a href="{{inputDetail.url_mnhn}}">{{inputDetail.url_mnhn}}</a>
                </td>
            </table>
        </tr>

      </table>
</div>

