@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 131px;
  margin: 20px auto;
  @include align(top, center);
}
.container-champ {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  @include dim(100%, auto);

  h2 {
    @include Typo($p14, $normal, $couleur-flore);
    margin-bottom: 0;
  }

  textarea,
  a,
  input {
    @include input($couleur-faune, black);
  }

  .ligne2,
  .ligne3,
  .ligne5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.edit {
  @include btn-edit();
}

@media screen and (max-width: $mobile) {
  .container {
    margin: 20px auto;
    h2 {
      font-size: 12px;
    }
    .infos {
      min-height: 36px;
      height: auto;
    }
    .ligne2,
    .ligne3,
    .ligne5 {
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (max-width: $tablette) {
  .container {
    h2 {
      font-size: 12px;
    }
    .infos {
      min-height: 36px;
      height: auto;
    }
  }
}
