@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

p,
.filtre {
  margin-left: 50px;
}
@media screen and (max-width: $mobile) {
  p,
  .filtre {
    margin-left: 25px;
  }
  .milieux_naturels,
  .communes,
  .bassin_agence,
  .responsable {
    display: none;
  }
}
