
<div *ngIf="selectedSite !== undefined">
    <app-site-detail 
        [site]="selectedSite"
        (selectedSite)="resetSelected()">
    </app-site-detail>
</div>

<div *ngIf="selectedSite == undefined">
    <p>
        Liste des sites sélectionnés parmis votre filtrage :
    </p>

    <table>

        <thead>
            <th *ngFor="let thName of listTheaders" scope="col">
                {{ thName }}
            </th>
        </thead>

        <tr *ngFor="let site of sites, let i = index" scope="row" class="table-secondary">
            
            <button type="button" (click)="onSelect(site)">DETAIL</button>
            <td>
                {{ site.code }}
            </td>
            <td>
                {{ site.nom }}
            </td>
            <td>
                {{ site.statut }}
            </td>
            <td>
                {{ site.communes }}
            </td>
            <td>
                {{ site.milieux_naturels }}
            </td>
            <td>
                {{ site.bassin_agence }}
            </td>
            <td>
                {{ site.responsable }}
            </td>
        </tr>
    </table>
</div>