<p>
    Liste des sites sélectionnés parmis votre filtrage :
  </p>
  <!-- {{sites}} -->
  <table >
    <thead>
        <th scope="col">
            --
        </th>
        <th scope="col">
            Codes
        </th>
        <th scope="col">
            Nom
        </th>
        <th scope="col">
            Status
        </th>
        <th scope="col">
            Commune(s)
        </th>
        <th scope="col">
            Milieux naturels
        </th>
        <th scope="col">
            Bassin agence
        </th>
        <th scope="col">
            Responsable
        </th>
    </thead>
    
    <tr *ngFor="let site of sites, let i = index" scope="row" class="table-secondary">
        
        <!-- <button (click)="showSite(site.uuid_site)"> Voir </button> -->
            <td>
                <a [routerLink]="['/sites/uuid=', '{{ site.code }}']">{{ site.code }}</a>
            </td>
            <td>
                {{ site.nom }}
            </td>
            <td>
                {{ site.statut }}
            </td>
            <td>
                {{ site.communes }}
            </td>
            <td>
                {{ site.milieux_naturels }}
            </td>
            <td>
                {{ site.bassin_agence }}
            </td>
            <td>
                {{ site.responsable }}
            </td>

     </tr>
  </table>