<br/>
<table>
  <tr>
    <td>
      Type : <select (change)="selectionSelectors($event, 'type', true)">
        <option id="type">type</option>
        <option id="1">Site géré</option>
        <option id="2">CAST</option>
      </select>
    </td>
    <td>
      Code : <input type="text" id="code" name="code" required minlength="4" size="7" (change)="stringChange($event)" />
    </td>
    <td>
      Nom : <input type="text" id="nom" name="nom" required minlength="4" size="20" (change)="stringChange($event)" />
    </td>
      
    <td>
      <select *ngFor="let selector of selectors" (change)="selectionSelectors($event, selector.name)">
        <option id="{{selector.name}}">{{selector.name}}</option>
        <option *ngFor="let value of selector.values">{{value}}</option>
      </select>
    </td>
    
    <td>
      &rarr;
    </td>
    <td>
      <!--a [routerLink]="['/research', {outlets: {'display': ['display', this.params.type, 
        this.params.brand, this.params.minprice, this.params.maxprice, this.params.minpopularity]}}]"> Sélection des produits </a-->
      <button (click)="productSelection()"> Sélection des sites </button>
    </td>
  </tr>
</table>