<form action="" method="get">
  <!-- Sélection du type de site. -->
  <div class="type">
    <label for="type">Type :</label>
    <select (change)="selectionSelectors($event, 'type', true)">
      <option value="" disabled selected>Type</option>
      <option id="1">Site géré</option>
      <option id="2">CAST</option>
    </select>
  </div>

  <!-- Sélection du code. -->
  <div class="code">
    <label for="code">Code :</label>
    <input minlength="4" size="7" (change)="stringChange($event)" />
  </div>

  <!-- Sélection du nom. -->
  <div class="nom">
    <label for="nom">Nom :</label>
    <input minlength="4" size="20" (change)="stringChange($event)" />
  </div>

  <!-- Sélecteurs dynamiques. -->
  <div *ngFor="let selector of selectors">
    <label [for]="selector.name">{{ selector.name }} :</label>
    <select
      id="{{ selector.name }}"
      name="{{ selector.name }}"
      (change)="selectionSelectors($event, selector.name)"
    >
      <option value="" disabled selected>
        Sélectionner {{ selector.name }}
      </option>
      <option *ngFor="let value of selector.values" [value]="value">
        {{ value }}
      </option>
    </select>
  </div>

  <!-- Validation du filtre. -->
  <div class="btn">
    <button (click)="productSelection()">Sélection des sites</button>
  </div>
</form>
