<div class="barRecherche">
  <!-- Sélection du type de site.-->
  <div class="type">
    <label for="type">Type :</label>
    <select (change)="selectionSelectors($event, 'type', true)">
      <option value="" disabled selected>Type</option>
      <option id="1">Site géré</option>
      <option id="2">CAST</option>
    </select>
  </div>

  <!-- Sélection du code. -->
  <mat-form-field ngClass="code">
    <mat-label ngClass="label" for="code">Code :</mat-label>
    <input
      matInput
      id="code"
      type="text"
      inputmode="numeric"
      pattern="[0-9]*"
      [formControl]="codeFormControl"
      (change)="stringChange($event)"
    />
    <mat-error *ngIf="codeFormControl.hasError('minlength')"
      >Code trop court</mat-error
    >
    <mat-error *ngIf="codeFormControl.hasError('pattern')"
      >Chiffres uniquement</mat-error
    >
    <!-- *ngIf="codeFormControl.value" : affiche le bouton clear si le code est renseigné -->
    <button
      ngClass="btn"
      *ngIf="codeFormControl.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearCode()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- Sélection du nom. -->
  <mat-form-field class="nom">
    <mat-label for="nom">Nom :</mat-label>
    <input matInput minlength="4" size="20" (change)="stringChange($event)" />
  </mat-form-field>

  <!-- Sélecteurs dynamiques. -->
  <div *ngFor="let selector of selectors">
    <label [for]="selector.name">{{ selector.name }} :</label>
    <select
      id="{{ selector.name }}"
      name="{{ selector.name }}"
      (change)="selectionSelectors($event, selector.name)"
    >
      <option value="" selected>Sélectionner {{ selector.name }}</option>
      <option *ngFor="let value of selector.values" [value]="value">
        {{ value }}
      </option>
    </select>
  </div>

  <!-- Validation du filtre.-->
  <div class="btn">
    <button (click)="productSelection()">Sélection des sites</button>
  </div>
</div>
