@import "../../../../../styles/variables.scss";
@import ".../../../../../../../styles/mixins.scss";

.button-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 0px 5px;
}

// Onglets mat-tab. Obligé d'utiliser une mixin pour appliquer le thème ci
::ng-deep .mat-mdc-tab-group {
  @include mat-tabs-theme($couleur-territoire);
}
// Avec couleur inactive personnalisée
// ::ng-deep .mat-mdc-tab-group {
//   @include mat-tabs-theme($superRed, rgba(100, 100, 100, 0.5));
// }

// Pour le bouton de suppression
.suppression {
  @include suppression-btn();
}