<!-- Il y a 2 MODES d'affichage de ce composant -->
<!-- 1 On liste les objectifs existants - grace a l'appel au backend sur les objectifs lite -->
<!-- 2 On ajoute ou edite une opération existante -->
<!-- this.form est généré vide OU this.form est rempli l'opération -->

<!-- Variable (Input de projet) projetEditMode: {{ projetEditMode }}<br>
Variable (objectif) isEditObjectif: {{ isEditObjectif }}<br>
Variable (objectif) isAddObjectif: {{ isAddObjectif }}<br>
Variable (objectif) isEditOperation: {{ isEditOperation }}<br>
Variable (objectif) isAddOperation: {{ isAddOperation }}<br> -->

<!-- Utilisation du template buttons pour ajouter une opération -->
<div class = "button-title">
  <app-form-buttons
    *ngIf="!projetEditMode"
    icone="add"
    [theme]="'gerer'"
    [isEditActive]="isEditObjectif" 
    [isAddActive]="isAddObjectif" 
    [isFormValid]="isFormValid" 
    [nbObjectifs]="nbObjectifs"
    (toggleAction)="toggleEditObjectif($event)"
    (makeObjectifForm)="makeForm($event)"
    (onSubmit)="onSubmit($event)"
  ></app-form-buttons>

  <div *ngIf="!isEditProjet && isEditObjectif">
      <div class="suppression">
        <button mat-button (click)="deleteItemConfirm()">Supprimer l'objectif</button>
      </div>
    </div>
</div>

<!-- Permet d'appeller un template -->
<ng-container *ngIf="!isEditObjectif && !isAddObjectif; then listObjectifs; else addEditObjectif"></ng-container>

<!-- MODE 1 -->
<ng-template #listObjectifs> 

  <div>
    <!-- Si le booleen !isEditObjectif && !isAddObjectif sont false, on montre la liste des opérations  -->

    <ng-container *ngIf="objectifs.length > 0; then table else noObjectifs"></ng-container>

    <ng-template #table>
      <div>
        <ng-container *ngIf="!pro_webapp">
          Nb objectifs : {{ objectifs.length }}.
        </ng-container>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8" #matTable>
          <ng-container matColumnDef="obj_ope">
            <mat-header-cell *matHeaderCellDef> Objectif opérationnel </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ getLibelle(element.obj_ope, typeObjectifOpe) }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="typ_objectif">
            <mat-header-cell *matHeaderCellDef> Type d'objectif </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ getLibelle(element.typ_objectif, typeObjectif) }} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="surf_totale">
            <mat-header-cell *matHeaderCellDef> Surf. totale </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.surf_totale }} </mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <!-- Ouvrir la fenetre de dialogue d'une opération -->
          <mat-row *matRowDef="let objectif; columns: displayedColumns;" (click)="this.makeForm({ objectif })"></mat-row>
        </mat-table>
      </div>
    </ng-template>

    <ng-template #noObjectifs>
      <div>
        Il n'y a pas encore d'objectif sur ce projet.
      </div>
    </ng-template>

  </div>
</ng-template>

<!-- MODE 2 -->
<ng-template #addEditObjectif>

  <!-- (nom_dans_composant)='mathode à utiliser depuis le composant du bouton' -->

  <!-- Si le projet vient d'un projet webapp, on affiche pas les deux onglets -->
  <!-- Sinon, on affiche deux onglets : infos de l'objectif et operations de l'objectif -->

    <mat-tab-group class="mat-tabs-theme" *ngIf="form">

      <mat-tab label="Informations de l'objectif">
        <form *ngIf="form" [formGroup]="form">

          <!-- Première ligne -->
          <div>
            <mat-form-field>
              <mat-label>Objectif opérationnel</mat-label>
              <mat-select [(ngModel)]="selectedtypeObjectifOpe" formControlName="obj_ope">
                @for (type of typeObjectifOpe; track type) {
                  <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="form.get('obj_ope')?.hasError('required')">
                Ce champ est obligatoire.
              </mat-error>
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Niveau d'enjeux</mat-label>
              <mat-select [(ngModel)]="selectedNvEnjeux" formControlName="nv_enjeux">
                @for (type of NvEnjeux; track type) {
                  <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
                }
              </mat-select>
              <mat-error *ngIf="form.get('nv_enjeux')?.hasError('required')">
                Ce champ est obligatoire.
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Deuxième ligne -->
          <div>
            <mat-form-field>
              <mat-label>Enjeux écologique</mat-label>
              <input matInput formControlName="enjeux_eco">
              <mat-error *ngIf="form.get('enjeux_eco')?.hasError('required')">
                Ce champ est obligatoire.
              </mat-error>
              <mat-error *ngIf="form.get('enjeux_eco')?.hasError('minWords')">
                La description doit contenir au moins 2 mots.
              </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="pro_webapp">
              <mat-label>Pressions à maîtriser</mat-label>
              <input matInput formControlName="pression_maitrise">
              <mat-error *ngIf="form.get('pression_maitrise')?.hasError('required')">
                Ce champ est obligatoire.
              </mat-error>
              <mat-error *ngIf="form.get('pression_maitrise')?.hasError('minWords')">
                La description doit contenir au moins 2 mots.
              </mat-error>
            </mat-form-field>

            <!-- Affichage des surface en fonction du type d'application -->
            <ng-container *ngIf="pro_webapp">
              <mat-form-field matTooltip="Fusion des surfaces des opérations">
                <mat-label>Surface d'intervention (ha)</mat-label>
                <input matInput  type="number" formControlName="surf_totale">
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="!pro_webapp">
              <mat-form-field matTooltip="Fusion des surfaces des opérations">
                <mat-label>Surface totale (ha)</mat-label>
                <input matInput formControlName="surf_totale">
              </mat-form-field>

              <mat-form-field>
              <mat-label>Surface prévue (ha)</mat-label>
              <input matInput formControlName="surf_prevue">
            </mat-form-field>
            </ng-container>
          </div>
          
          <!-- Cas d'un ancien type d'opération avec operations imbriqués -->
          <div *ngIf="!pro_webapp">
            <mat-form-field>
              <mat-label>Type d'objectif</mat-label>
              <mat-select [(ngModel)]="selectedtypeObjectif" formControlName="typ_objectif">
                @for (type of typeObjectif; track type) {
                  <mat-option [value]="type.cd_type">{{type.libelle}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Validité</mat-label>
              <input matInput formControlName="validite">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Unité de gestion</mat-label>
              <input matInput formControlName="unite_gestion">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Attentes</mat-label>
              <input matInput formControlName="attentes">
            </mat-form-field>
          </div>
        </form>
      </mat-tab>
      
      <!-- <mat-tab label="Opérations associées" *ngIf="!pro_webapp">
      <ng-template matTabContent>
        <app-operation 
          rattachementOperation="objectif"
          (isEditFromOperation)="handleEditOperationChange($event)"
          (isAddFromOperation)="handleAddOperationChange($event)"
          [isEditOperation]="isEditOperation"
          [isAddOperation]="isAddOperation"
          [projetEditMode]="isEditProjet"
          [ref_uuid_objectif]="objectif?.uuid_objectif || ''"
        ></app-operation>
      </ng-template>
    </mat-tab> -->

    </mat-tab-group>

</ng-template>

