


<div *ngIf="inputHabitats !== undefined">
    <table>
        <tr>
            <td colspan="2">
                Milieux naturels : 
            </td>
        </tr>


        <tr>
            <td colspan="2">
                <section>---Tableau à venir---</section>
            </td>
        </tr>

        <tr>
            <section>---</section>
        </tr>

        <tr>
            <td colspan="1">
                Code géologie : {{inputHabitats.typ_geologie}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Habitats du site cartographiés : (Données à rattacher)
            </td>
        </tr>

        <tr>
            <td colspan="2">
                Inventaire habitats (a voir où est la données) :
            </td>
        </tr>

      </table>
</div>

