<div *ngIf="inputDetail !== undefined">

    <div *ngIf="milNat.length > 0; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>
        
        <ul>
            <li *ngFor="let milieu of milNat">
              Type de milieu : {{ milieu.type_milieu }}
              <section *ngIf="milieu.pourcentage != null"> - Pourcentage : {{ milieu.pourcentage }}</section>
            </li>
          </ul>

    </ng-template>
    
    <ng-template #elseBlock>
        Il n'y a pas de plan de milieu naturel renseigné.
    </ng-template>

    <table>
        
        <tr>
            <td colspan="1">
                Code géologie : {{inputDetail.typ_geologie}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Habitats du site cartographiés : (Données à rattacher)
            </td>
        </tr>

        <tr>
            <td colspan="2">
                Inventaire habitats (a voir où est la données) :
            </td>
        </tr>

      </table>
</div>

