@import "../../../../app/styles/variables.scss";
@import "../../../../app/styles/mixins.scss";

.site-parent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  & > p {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
    position: fixed;
    top: 85px;
    left: 0;
    z-index: 10;
    @include Typo($p16, $gras, white);
  }
}
.proteger {
  position: sticky;
  top: 0;
  width: 20px;
  z-index: 10;
  padding-bottom: 15px;
  @include bandeau($couleur-faune);
}
::ng-deep .highlight {
  background-color: rgb(255, 255, 156);
}
.mat-row:hover {
  cursor: zoom-in;
}

.table-container {
  display: flex;
  overflow-y: auto;
  box-sizing: border-box;
  flex-direction: column;
  @include align(center, flex-start);
  width: 100%;
}
.table-header {
  width: 80%;
  display: flex;
  @include align(center, space-between);
}
.table {
  width: 80%;
}
.paginator {
  box-sizing: border-box;
  border-top: 1px solid lightgray;
}

.add-pmfu {
  display: flex;
  @include align(center, flex-start);
  gap: 15px;
  height: 80px;
  & p {
    margin: 0;
  }
}
.btn-edition {
  @include btn-icon($proteger, $orangeC);
  @include icon(white, black);
}
.edition {
  display: flex;
  @include align(center, start);
  margin-bottom: 20px;
  gap: 15px;
  .btn-sauvegarde {
    @include btn-icon(white, $proteger);
    @include icon($couleur-flore, white);
  }
  .btn-annulation {
    @include btn-icon(white, red);
    @include icon(red, white);
  }
}

@media screen and (max-width: $mobile) {
}

@media screen and (max-width: $tablette) {
}
