@import "../../../../app/styles/variables.scss";
@import "../../../../app/styles/mixins.scss";

.site-parent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.proteger {
  padding-bottom: 15px;
  @include bandeau($couleur-faune);
}

.table-container {
  display: flex;
  @include align(center, center);
  width: 100%;
}

.table {
  width: 80%;
}

.add-pmfu {
  display: flex;
  @include align(center, flex-start);
  gap: 15px;
  height: 80px;
  & p {
    margin: 0;
  }
}
.btn-edition {
  @include btn-icon($proteger, $orangeC);
  @include icon(white, black);
}
.edition {
  display: flex;
  @include align(center, start);
  margin-bottom: 20px;
  gap: 15px;
  .btn-sauvegarde {
    @include btn-icon(white, $proteger);
    @include icon($couleur-flore, white);
  }
  .btn-annulation {
    @include btn-icon(white, red);
    @include icon(red, white);
  }
}

@media screen and (max-width: $mobile) {
}

@media screen and (max-width: $tablette) {
}
