@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

*,
.mat-mdc-dialog-content,
.mdc-dialog__content ng-star-inserted {
  padding: 0;
  margin: 0;
}

.custom-dialog-container {
  max-width: 90vw; /* Ajuste la largeur maximale */
  width: 90vw; /* Fixe la largeur */
  height: 90vh; /* Fixe la hauteur */
  margin: 0 auto; /* Centre la boîte de dialogue */
  overflow: hidden; /* Empêche le débordement */
}

.dialogue {
  // min-height: 100vh;
  // height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.conteneur-projet {
  display: flex;
  width: 100%;
  // height: auto;
  min-height: 101%;
  // min-height: 120vh;
  flex-grow: 1;
  
}
.projet {
  display: flex;
  flex-direction: column;
  width: 1500px;
  // margin: 0 50px 25px 29px;
  // min-height: 100vh;

  margin: 0; /* Supprime les marges inutiles */
  padding: 0; /* Supprime les paddings inutiles */
  height: 100%; /* Adapte la hauteur */
}

.conteneur {
  padding: 20px;
}

// bande sur le coté
.gerer {
  padding-bottom: 15px;
  @include bandeau($gerer);
}

//boutons edit/save/cancel
.edition {
  display: flex;
  @include align(center, start);
  margin-bottom: 20px;
  gap: 15px;
  .btn-edition {
    @include btn-icon($couleur-territoire, $vertC);
    @include icon(white, black);
  }
  .btn-sauvegarde {
    @include btn-icon(white, $couleur-territoire);
    @include icon($couleur-flore, white);
  }
  .btn-annulation {
    @include btn-icon(white, red);
    @include icon(red, white);
  }
}
// boutons du stepper

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px; /* Ajuste selon ton besoin */
}
.mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: 0;
}

// .example-stepper {
//   margin-top: 8px;
// }

// .mat-mdc-form-field {
//   margin-top: 16px;
// }

// .example-input-wrapper {
//   margin-bottom: 16px;
// }

// .container-carte {
//   h2 {
//     @include Typo($p14, $normal, $couleur-flore);
//     margin-bottom: 0;
//   }
//   img {
//     width: 30%;
//   }
// }
