<mat-dialog-content *ngIf="!isLoading; else loading">
  <div class="conteneur-projet">
    <div class="gerer">Gérer</div>

    <!-- -- Variable isEditOperation : {{ isEditOperation }}<br>
    -- Variable isAddOperation : {{ isAddOperation }}<br> -->

    <!-- isEditOperation est une donnée qui remonte de l'enfant operation, veut dire que -->
    <ng-container *ngTemplateOutlet="stepper"></ng-container>

    <!-- FORMULAIRE STEPPER (NORMAL) -->
    <ng-template #stepper>

      <h2 *ngIf="!isEditProjet">Consultation d'un projet</h2>
      <h2 *ngIf="isEditProjet">Modification d'un projet</h2>

      <div class="example-input-wrapper">
          <!-- <label for="duration">Animation duration:</label> -->
          <input hidden id="duration" value="300" type="number" min="0" step="100" #duration>
      </div>

      <app-form-buttons
        *ngIf="!isEditOperation && !isAddOperation" 
        [isEditActive]="isEditProjet" 
        icone="edit" 
        [isFormValid]="isFormValid" 
        (toggleAction)="toggleEditProjet()" 
        (onSubmit)="onSubmit()" 
      ></app-form-buttons>

      <mat-stepper labelPosition="bottom" 
                    [linear]="false"  
                    #stepper 
                    [animationDuration]="duration.value" 
                    class="margin-stepper"
                    [orientation]="(stepperOrientation | async)!">


        <!-- state="info" est l'icone a utiliser pour le step -->
        <mat-step state="info">
          <ng-template matStepLabel>Description du projet</ng-template>
          <!-- Affichage en mode consultation (editMode == false) -->
          <ng-container *ngIf="!isEditProjet">
            <div>
              <mat-form-field class="custom-mat-form-field">
                <mat-label>Type</mat-label>
                <input matInput [value]="projetForm.get('type')?.value || 'Non renseignée'" readonly>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="custom-mat-form-field">
                <mat-label>Nom</mat-label>
                <input matInput [value]="projetForm.get('nom')?.value || 'Non renseignée'" readonly>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="custom-mat-form-field">
                <mat-label>Code</mat-label>
                <input matInput [value]="projetForm.get('code')?.value || 'Non renseignée'" readonly>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="custom-mat-form-field">
                <mat-label>Responsable</mat-label>
                <input matInput [value]="projetForm.get('responsable')?.value || 'Non renseignée'" readonly>
              </mat-form-field>
            </div>
            <!-- <div>
              <mat-form-field>
                <mat-label>Date de début</mat-label>
                <input matInput [matDatepicker]="startDatePicker" [value]="projetForm.get('pro_debut')?.value" readonly>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Date de début</mat-label>
                <input matInput [matDatepicker]="startDatePicker" [value]="projetForm.get('pro_fin')?.value" readonly>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
            </div> -->
            <div>
              <mat-form-field>
                <mat-label>Période de travaux</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Date début" [value]="projetForm.get('pro_debut')?.value" readonly>
                  <input matEndDate placeholder="Date fin" [value]="projetForm.get('pro_fin')?.value" readonly>
                </mat-date-range-input>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="custom-mat-form-field">
                <mat-label>Statut</mat-label>
                <input matInput [value]="projetForm.get('statut')?.value || 'Non renseignée'" readonly>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field class="custom-mat-form-field">
                <mat-label>Objectif</mat-label>
                <input matInput [value]="projetForm.get('pro_obj_projet')?.value || 'Non renseignée'" readonly>
              </mat-form-field>
            </div>
          </ng-container>

          <!-- Affichage en mode édition (editMode == true) -->
          <ng-container *ngIf="isEditProjet">
            <form [formGroup]="projetForm">
              <ng-container>
                <div>
                  <mat-form-field>
                    <mat-label>Type</mat-label>
                    <input matInput formControlName="type">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <textarea matInput formControlName="nom"></textarea>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Code</mat-label>
                    <textarea matInput formControlName="code"></textarea>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Résponsable</mat-label>
                    <textarea matInput formControlName="responsable"></textarea>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Maitre d'ouvrage</mat-label>
                    <textarea matInput formControlName="pro_maitre_ouvrage" ></textarea>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Date de début</mat-label>
                    <input matInput [matDatepicker]="startDatePicker" formControlName="pro_debut" >
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Date de fin</mat-label>
                    <input matInput [matDatepicker]="endDatePicker" formControlName="pro_fin" required>
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>Statut</mat-label>
                    <textarea matInput formControlName="statut" ></textarea>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Objectif du projet</mat-label>
                    <textarea matInput formControlName="pro_obj_projet" ></textarea>
                  </mat-form-field>
                </div>
                </ng-container>
            </form>
          </ng-container>
          <button mat-button matStepperNext>SUIVANT</button>
        </mat-step>








        <!-- <mat-step [stepControl]="ENPFormGroup"> -->
        <mat-step state="landscape">
          <ng-template matStepLabel>ENP concerné</ng-template>

          <form *ngIf="isEditProjet == true">

            <!-- <mat-form-field>
              <input matInput placeholder="Espace Naturel Protégé" formControlName="ENPCtrl" required>
            </mat-form-field> -->

          </form>

          <app-detail-gestion [inputUUIDsite]="projetLite.uuid_site"> </app-detail-gestion>

          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </mat-step>








        <mat-step state="pin">
        <!-- <mat-step [stepControl]="UGFormGroup"> -->
          <ng-template matStepLabel>Unités de gestion</ng-template>

          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>

          <!-- Affichage en mode consultation (editMode == false) -->
          <ng-container *ngIf="!isEditProjet">
            <div>
              <div>
                <div>
                  <mat-form-field>
                    <mat-label>Surface</mat-label>
                    <input matInput [value]="projetForm.get('surface')?.value || 'Non renseignée'" readonly>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>Niveau Enjeu Ecologique</mat-label>
                    <input matInput [value]="projetForm.get('pro_nv_enjeux')?.value || 'Non renseignée'" readonly>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field >
                    <mat-label>Enjeux Ecologiques</mat-label>
                    <input matInput [value]="projetForm.get('pro_enjeux_eco')?.value || 'Non renseignée'" readonly>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field >
                    <mat-label>Pression ciblée</mat-label>
                    <input matInput [value]="projetForm.get('pro_pression_ciblee')?.value || 'Non renseignée'" readonly>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field >
                    <mat-label>Type d'objectif opérationnel</mat-label>
                    <input matInput [value]="projetForm.get('pro_obj_ope')?.value || 'Non renseignée'" readonly>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field >
                    <mat-label>Résultats attendus</mat-label>
                    <input matInput [value]="projetForm.get('pro_results_attendus')?.value || 'Non renseignée'" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <div class="container-carte">
                  <!-- <div class="map">---------------------------------------------------------------------------------------------------
                    <h2>Carte provisoire :</h2>
                    <app-map></app-map>
                  </div> -->
                </div>
              </div>
            </div>
          </ng-container>

          <!-- Affichage en mode édition (editMode == true) -->
          <ng-container *ngIf="isEditProjet">
            <form [formGroup]="projetForm">
              <ng-container>
                <mat-form-field>
                  <mat-label>Surface</mat-label>
                  <textarea matInput formControlName="surface" ></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Niveau enjeu écologique</mat-label>
                  <textarea matInput formControlName="pro_nv_enjeux" ></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Enjeux écologiques</mat-label>
                  <textarea matInput formControlName="pro_enjeux_eco" ></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Pression ciblée</mat-label>
                  <textarea matInput formControlName="pro_pression_ciblee" ></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Maitre d'ouvrage</mat-label>
                  <textarea matInput formControlName="pro_maitre_ouvrage" ></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Type d'objectif opérationnel</mat-label>
                  <textarea matInput formControlName="pro_obj_ope" ></textarea>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Résultats attendus</mat-label>
                  <textarea matInput formControlName="pro_results_attendus" ></textarea>
                </mat-form-field>
              </ng-container>
              <button mat-button matStepperNext>SUIVANT</button>
            </form>
          </ng-container>
        </mat-step>










        <mat-step state="troubleshoot">
          <ng-template matStepLabel>Indicateurs projet</ng-template>
          <div class="container-carte">
            Tableau des indicateurs projet
          </div>

          <form *ngIf="isEditProjet == true">
            Ajouter un indicateur dans le tableau
          </form>

          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </mat-step>










        <mat-step state="euro">
          <ng-template matStepLabel>Financements</ng-template>
          <div class="container-carte">
            Tableau des financements
          </div>

          <form *ngIf="isEditProjet == true">
            Ajouter un financement dans le tableau
          </form>
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>
        </mat-step>









        <mat-step state="construction">
          <ng-template matStepLabel>Opérations</ng-template>

          <ng-container *ngIf="!isEditOperation || !isAddOperation; then operation;"></ng-container>

          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button matStepperNext>Suivant</button>
          </div>

        </mat-step>










        <mat-step state="flag">
          <ng-template matStepLabel>Bilan d'execution</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Précédent</button>
            <button mat-button (click)="stepper.reset()">Retour au début</button>
          </div>

          <ng-container *ngIf="isEditProjet"></ng-container>
            <form [formGroup]="projetForm" (ngSubmit)="onSubmit()">
              <ng-container>
                <!-- Ajoutez d'autres champs si nécessaire -->
              </ng-container>
              <button mat-button type="submit">SOUMETTRE</button>
            </form>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="info">
          <mat-icon>info</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="landscape">
          <mat-icon>landscape</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="pin">
          <mat-icon>pin_drop</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="troubleshoot">
          <mat-icon>troubleshoot</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="euro">
          <mat-icon>euro</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="construction">
          <mat-icon>construction</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="flag">
          <mat-icon>flag</mat-icon>
        </ng-template>

      </mat-stepper>
    </ng-template>

    <!-- Formulaire operation -->
    <ng-template #operation>

      <!-- isEditFromOperation vien de app-operation et app-projet -->
      <app-operation 
                    (isEditFromOperation)="handleEditOperationChange($event)" 
                    (isAddFromOperation)="handleAddOperationChange($event)" 
                    [isEditOperation]="isEditOperation" 
                    [isAddOperation]="isAddOperation" 
                    [projetEditMode]="isEditProjet" 
                    [ref_uuid_proj]="projet.uuid_proj"
                    >
      </app-operation>

    </ng-template>
  </div>
</mat-dialog-content>


<!-- Template de chargement -->
<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Veuillez patienter...</p>
  </div>
</ng-template>
