@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

// :host {
//   background-color: $vertTC; 
//   display: block; // Nécessaire pour que le fond s’applique sur tout le composant
//   min-height: 100vh; // Pour couvrir toute la hauteur de la page
// }

*,
.mat-mdc-dialog-content,
.mdc-dialog__content ng-star-inserted {
  padding: 0;
  margin: 0;
}

.custom-dialog-container {
  max-width: 90vw; /* Ajuste la largeur maximale */
  width: 90vw; /* Fixe la largeur */
  height: 80vh; /* Fixe la hauteur */
  margin: 0 auto; /* Centre la boîte de dialogue */
  overflow: hidden; /* Empêche le débordement */
}

.dialogue {
  background-color: $vertTC; 
  // min-height: 100vh;
  // height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

mat-dialog-content.dialogue {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
.conteneur-projet {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden; /* ou hidden si tu ne veux pas de scroll interne */
}

// bande sur le coté
.gerer {
  padding-bottom: 15px;
  @include bandeau($gerer);
}

.projet {
  display: flex;
  flex-direction: column;
  width: 1400px;

  flex: 1 1 auto; // <-- prend toute la place disponible
  min-height: 0;  // <-- évite les débordements
  overflow: auto;
}

.button-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 0px 5px;
}

.title-border {
  margin: 0px 0 0px 10px;
}

//boutons edit/save/cancel
.edition {
  display: flex;
  @include align(center, start);
  margin-bottom: 20px;
  gap: 15px;
  .btn-edition {
    @include btn-icon($couleur-territoire, $vertC);
    @include icon(white, black);
  }
  .btn-sauvegarde {
    @include btn-icon(white, $couleur-territoire);
    @include icon($couleur-flore, white);
  }
  .btn-annulation {
    @include btn-icon(white, red);
    @include icon(red, white);
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ajuste selon ton besoin */
  width: 100%;
}
.mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: 0;
}

// .example-stepper {
//   margin-top: 8px;
// }

// .mat-mdc-form-field {
//   margin-top: 16px;
// }

// .example-input-wrapper {
//   margin-bottom: 16px;
// }

// .container-carte {
//   h2 {
//     @include Typo($p14, $normal, $couleur-flore);
//     margin-bottom: 0;
//   }
//   img {
//     width: 30%;
//   }
// }

.nav-buttons {
  @include nav-buttons();
}

// Pour le bouton de suppression
.btn {
    display: flex;
    @include align(center, flex-end);
    padding: 0 30px 0 0px;
    button {
      @include btn($superRed, #f1fcf3, white, $superRed);
      @include align(center, center);
    }
}

::ng-deep .mat-mdc-stepper-horizontal,
::ng-deep .mat-mdc-stepper-vertical,
::ng-deep .mat-stepper-horizontal,
::ng-deep .mat-stepper-vertical {
  background-color: $vertTC !important;
}
::ng-deep .mat-mdc-stepper-content,
::ng-deep .mat-stepper-content {
  background-color: $vertTC !important;
}
::ng-deep .mat-mdc-step-header,
::ng-deep .mat-step-header {
  background: transparent !important;
}
::ng-deep .mat-mdc-step-icon,
::ng-deep .mat-step-icon {
  background-color: $couleur-territoire !important; // ta couleur de fond
  color: white !important; // couleur de l'icône ou du numéro
  border: none !important;
}