/* You can add global styles to this file, and also import other style files */
@import "app/styles/variables.scss";
@import "app/styles/mixins.scss";

// Theme personalisé Material
// @import './custom-theme.scss';

body,
html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  // padding-bottom: 50px;
  @include dim(100%, 100%);
  // min-height: 100vh;
  overflow-x: hidden;
}

.conteneur {
  display: flex;
  flex-direction: column;
}
app-header {
  height: auto;
}
main {
  flex-grow: 1;
  min-height: 100vh;
}

app-footer {
  height: auto;
  // position: relative;
}

:host {
  display: block;
  @include dim(auto, 100vh);
  overflow: hidden;
}

.fondDePage {
  position: absolute;
  @include position(0, 0, 0, 0);
  @include dim(100%, 100%);
  z-index: -1; // Le fond doit être derrière tout le reste
  overflow: hidden;

  .image {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    @include dim(auto, auto);
  }

  .hautGauche {
    @include position(-22px, auto, auto, -87px);
    @include dim(30%, auto);
    transform: rotate(7deg);
    opacity: 50%;
  }

  .milieu {
    @include position(50%, auto, auto, 50%);
    transform: translate(-50%, -50%);
    @include dim(30%, auto);
    width: 30%;
    height: auto;
    opacity: 15%;
  }

  .basDroite {
    @include position(auto, -84px, -137px, auto);
    @include dim(30%, auto);
    transform: rotate(11deg);
    opacity: 50%;
    max-width: 100%;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  background-color: green;
}

.snackbar-error {
  background-color: red;
}
