// LES @use DOIVENT ÊTRE EN PREMIER
@use '@angular/material' as mat;

// PUIS LES @import
@import "app/styles/variables.scss";
@import "app/styles/mixins.scss";

// Définir une palette personnalisée (syntaxe v18)
// $primary-palette: mat.m2-define-palette(mat.$m2-green-palette);
// $accent-palette: mat.m2-define-palette(mat.$m2-amber-palette);
// $warn-palette: mat.m2-define-palette(mat.$m2-red-palette);

// Créer un thème personnalisé (syntaxe v18)
// $custom-theme: mat.m2-define-light-theme((
//   color: (
//     primary: $primary-palette,
//     accent: $accent-palette,
//     warn: $warn-palette,
//   )
// ));
// Appliquer le thème (syntaxe v18) SUR TOUT LE SITE!
// @include mat.all-component-themes($custom-theme);

body,
html {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  // padding-bottom: 50px;
  @include dim(100%, 100%);
  // min-height: 100vh;
  overflow-x: hidden;
}

.conteneur {
  display: flex;
  flex-direction: column;
}
app-header {
  height: auto;
}
main {
  flex-grow: 1;
  min-height: 100vh;
}

app-footer {
  height: auto;
  // position: relative;
}

:host {
  display: block;
  @include dim(auto, 100vh);
  overflow: hidden;
}

.fondDePage {
  position: absolute;
  @include position(0, 0, 0, 0);
  @include dim(100%, 100%);
  z-index: -1; // Le fond doit être derrière tout le reste
  overflow: hidden;

  .image {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    @include dim(auto, auto);
  }

  .hautGauche {
    @include position(-22px, auto, auto, -87px);
    @include dim(30%, auto);
    transform: rotate(7deg);
    opacity: 50%;
  }

  .milieu {
    @include position(50%, auto, auto, 50%);
    transform: translate(-50%, -50%);
    @include dim(30%, auto);
    width: 30%;
    height: auto;
    opacity: 15%;
  }

  .basDroite {
    @include position(auto, -84px, -137px, auto);
    @include dim(30%, auto);
    transform: rotate(11deg);
    opacity: 50%;
    max-width: 100%;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  background-color: green;
}

.snackbar-error {
  background-color: red;
}

// .custom-backdrop {
//   background: rgba(15, 34, 3, 0.5) !important;
//   opacity: 1 !important;
//   transition: opacity 225ms cubic-bezier(0.4,0.0,0.2,1), 
//   background 225ms cubic-bezier(0.4,0.0,0.2,1) !important;
// }

// .custom-dialog-backdrop-delete {
//   background: rgba(77, 36, 36, 0.8) !important;
//   opacity: 1 !important;
//   transition: opacity 225ms cubic-bezier(0.4,0.0,0.2,1), 
//   background 225ms cubic-bezier(0.4,0.0,0.2,1) !important;
// }

.custom-backdrop-delete {
  @include custom-backdrop($redBackdrop);
}

.custom-backdrop-duplicate {
  @include custom-backdrop($blueBackdrop);
}

.custom-backdrop-gerer {
  @include custom-backdrop($gererBackdrop);
}