@import "../../app/styles/variables.scss";
@import "../../app/styles/mixins.scss";

.bienvenue {
  display: flex;
}

.home {
  margin: 50px;
  @include align(top, space-between);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 20px;
}
//RESPONSIVE

@media screen and (max-width: $mobile) {
  .home {
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 25px;
  }
}

@media screen and (min-width: $mobile) and (max-width: $tablette) {
  .home {
    margin: 50px 25px;
  }
}
