<div class="bienvenue" *ngIf="loginService.user()">
  <p>
    Bienvenue {{ loginService.user()?.prenom }} {{ loginService.user()?.nom }} !
  </p>
</div>
<div class="home">
  <ng-container *ngFor="let item of menuItems[0].children">
    <ng-container *ngFor="let subItem of item.children">
      <app-card
        [parentItem]="item.name"
        [parentColor]="item?.class_color ?? 'default-color'"
        [menuItem]="subItem"
        [route]="subItem.route ?? ''"
        *ngIf="subItem.accueil == true"
      >
      </app-card>
    </ng-container>
  </ng-container>
</div>

<div class="map">
  <h2>Les antennes du CENCA.</h2>
  <app-map></app-map>
</div>
