@import "../../app/styles/variables.scss";
@import "../../app/styles/mixins.scss";

.home {
  margin: 50px 50px 0 50px;
  @include align(top, space-between);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  gap: 20px;
}
