@import "../../styles/mixins";
@import "../../styles/variables.scss";

.edition {
    display: flex;
    @include align(center, start);
    margin-bottom: 20px;
    gap: 15px;
    .btn-edition {
      @include btn-icon($couleur-faune, $orangeC);
      @include icon(white, black);
    }
    .btn-sauvegarde {
      @include btn-icon(white, $couleur-territoire);
      @include icon($couleur-flore, white);
    }
    .btn-sauvegarde-disabled {
      // Couleur fond :  normal / hover
      @include btn-icon(grey, rgb(87, 87, 87));

      // Couleur icone :  normal / hover
      @include icon(rgb(223, 223, 223), rgb(194, 194, 194));
      
    }
    .btn-annulation {
      @include btn-icon(white, red);
      @include icon(red, white);
    }
  }