<div>
    <!-- Boutons edit||add / save / cancel -->
    <div class="edition">
    
    <i>Variable isActive DU BOUTON : {{ isActive }}.</i>
    <i>Variable isAdding DU BOUTON : {{ isAdding }}.</i>

    <!-- Si isAdding on montre le add, sinon on montre edit -->
    <ng-container *ngIf="isAdding; else edit">
        <ng-content [ngTemplateOutlet]="add"></ng-content>
      </ng-container>
        
    </div>
</div>


<!-- liste de templates -->
<!-- Bouton entrer en mode edition -->
 <ng-template #edit>
    <ng-content *ngIf="isActive; then editOn"></ng-content>
    <ng-content *ngIf="!isActive; then editOff"></ng-content>
</ng-template>
<ng-template #editOn>
    <!-- Bouton sauvegarder conditionnel -->
    <ng-content *ngIf="isFormValid; then saveBtnEnabled; else saveBtnDisabled"></ng-content>
    
    <!-- Bouton annuler -->
    <button
        mat-icon-button
        matTooltip="Annuler"
        class="btn-annulation"
        (click)="onToggleAction()"
    >
        <mat-icon>close</mat-icon>
    </button>
</ng-template>


<!-- Bouton sortir du mode edition -->
<ng-template #editOff>
    <button
        mat-icon-button
        [matTooltip]="tooltip"
        class="btn-edition"
        (click)="onToggleAction()"
    >
        <mat-icon>{{ iconName }}</mat-icon>
    </button>
</ng-template>

<!-- Differents etats de boutons -->
<!-- Bouton sauvegarder quand formulaire valide -->
<ng-template #saveBtnEnabled>
    <button
        mat-icon-button
        matTooltip="Sauvegarder"
        class="btn-sauvegarde"
        (click)="onSave()"
    >
        <mat-icon>save</mat-icon>
    </button>
</ng-template>

<!-- Bouton sauvegarder grisé -->
<ng-template #saveBtnDisabled>
    <button
        mat-icon-button
        matTooltip="Sauvegarde impossible verifier les champs obligatoires"
        class="btn-sauvegarde-disabled"
        disabled
    >
        <mat-icon>save</mat-icon>
    </button>
</ng-template>

<!-- Bouton pour ajouter -->
<ng-template #add>
    <button
        mat-icon-button
        matTooltip="Ajouter une opération"
        class="btn-edition"
        (click)="onAddAction()"
    >
        <mat-icon>{{ iconName }}</mat-icon>
    </button>
</ng-template>