@import "../../styles/mixins";
@import "../../styles/variables.scss";

.edition {
    display: flex;
    @include align(center, start);
    margin: 6px 0 15px 6px;
    gap: 15px;
    
    // Theme proteger
    .btn-edition-proteger {
      @include btn-icon($couleur-faune, $orangeC);
      @include icon(white, black);
    }
    .btn-sauvegarde-proteger {
      @include btn-icon(white, $couleur-territoire);
      @include icon($couleur-flore, white);
    }

    // Theme gerer
    .btn-edition-gerer {
      @include btn-icon($couleur-territoire, $vertC);
      @include icon(white, black);
    }
    .btn-sauvegarde-gerer {
      @include btn-icon(white, $couleur-territoire);
      @include icon($couleur-flore, white);
    }
    .btn-sauvegarde-disabled {
      // Couleur fond :  normal / hover
      @include btn-icon(grey, rgb(87, 87, 87));

      // Couleur icone :  normal / hover
      @include icon(rgb(223, 223, 223), rgb(194, 194, 194));
      
    }
    .btn-annulation {
      @include btn-icon(white, red);
      @include icon(red, white);
    }
  }
